doctype html
html(lang="en")
   head
      block head
         title UIKIT

      meta(charset="utf-8")
      meta(name="keywords" content="")

      meta(http-equiv="X-UA-Compatible" content="IE=edge")
      meta(name="viewport" content="width=device-width, initial-scale=1.0")
      meta(name="format-detection" content="telephone=no")

      link(rel="shortcut icon" href="images/favicons/favicon.ico" type="image/x-icon")
      link(rel="apple-touch-icon" href="images/favicons/apple-touch-icon.png")
      link(rel="apple-touch-icon" sizes="180x180" href="images/favicons/apple-touch-icon-180x180.png")
      link(rel="icon" type="image/png" sizes="192x192" href="images/favicons/android-chrome-192x192.png")
      link(rel="icon" type="image/png" sizes="96x96" href="images/favicons/android-chrome-96x96.png")
      link(rel="icon" type="image/png" sizes="32x32" href="images/favicons/favicon-32x32.png")
      link(rel="icon" type="image/png" sizes="16x16" href="images/favicons/favicon-16x16.png")
      link(rel="manifest" href="images/favicons/manifest.json")
      link(rel="yandex-tableau-widget" href="images/favicons/yandex-browser-manifest.json")
      meta(name="msapplication-TileColor" content="#ffffff")
      meta(name="msapplication-TileImage" content="images/favicons/mstile-144x144.png")
      meta(name="msapplication-config" content="images/favicons/browserconfig.xml")
      meta(name="theme-color" content="#ffffff")

      link(rel="stylesheet" href="css/main.min.css")

   body

      .uikit
         .uikit-box
            p.uikit-box__title Primary buttons
            .uikit-box__inner
               .uikit-bl
                  h2.uikit-theme WHITE THEME L36
                  .uikit-button
                     span.uikit-title Default
                     button.btn Button
                  .uikit-button
                     span.uikit-title Hover
                     button.btn.btn-hovered Button
                  .uikit-button
                     span.uikit-title Active
                     button.btn.btn-actived Button
                  .uikit-button
                     span.uikit-title Disable
                     button.btn.btn-disabled(disabled) Button
                  .uikit-button
                     span.uikit-title Default
                     button.btn.btn-right-icon
                        |  Button
                        svg.btn__svg
                           use(href="images/sprites/main.stack.svg#svg-stop-circle")
                  .uikit-button
                     span.uikit-title Hover
                     button.btn.btn-hovered.btn-right-icon
                        |  Button
                        svg.btn__svg
                           use(href="images/sprites/main.stack.svg#svg-stop-circle")
                  .uikit-button
                     span.uikit-title Active
                     button.btn.btn-actived.btn-right-icon
                        |  Button
                        svg.btn__svg
                           use(href="images/sprites/main.stack.svg#svg-stop-circle")
                  .uikit-button
                     span.uikit-title Disable
                     button.btn.btn-disabled.btn-right-icon(disabled)
                        |  Button
                        svg.btn__svg
                           use(href="images/sprites/main.stack.svg#svg-stop-circle")
                  .uikit-button
                     span.uikit-title Default
                     button.btn.btn-left-icon
                        svg.btn__svg
                           use(href="images/sprites/main.stack.svg#svg-stop-circle")
                        |  Button
                  .uikit-button
                     span.uikit-title Hover
                     button.btn.btn-hovered.btn-left-icon
                        svg.btn__svg
                           use(href="images/sprites/main.stack.svg#svg-stop-circle")
                        |  Button
                  .uikit-button
                     span.uikit-title Active
                     button.btn.btn-actived.btn-left-icon
                        svg.btn__svg
                           use(href="images/sprites/main.stack.svg#svg-stop-circle")
                        |  Button
                  .uikit-button
                     span.uikit-title Disable
                     button.btn.btn-disabled.btn-left-icon(disabled)
                        svg.btn__svg
                           use(href="images/sprites/main.stack.svg#svg-stop-circle")
                        |  Button
                  .uikit-button
                     span.uikit-title Default
                     button.btn.btn-double-icon
                        svg.btn__svg
                           use(href="images/sprites/main.stack.svg#svg-stop-circle")
                        span.btn__text  Button
                        svg.btn__svg
                           use(href="images/sprites/main.stack.svg#svg-stop-circle")
                  .uikit-button
                     span.uikit-title Hover
                     button.btn.btn-hovered.btn-double-icon
                        svg.btn__svg
                           use(href="images/sprites/main.stack.svg#svg-stop-circle")
                        span.btn__text  Button
                        svg.btn__svg
                           use(href="images/sprites/main.stack.svg#svg-stop-circle")
                  .uikit-button
                     span.uikit-title Active
                     button.btn.btn-actived.btn-double-icon
                        svg.btn__svg
                           use(href="images/sprites/main.stack.svg#svg-stop-circle")
                        span.btn__text  Button
                        svg.btn__svg
                           use(href="images/sprites/main.stack.svg#svg-stop-circle")
                  .uikit-button
                     span.uikit-title Disable
                     button.btn.btn-disabled.btn-double-icon(disabled)
                        svg.btn__svg
                           use(href="images/sprites/main.stack.svg#svg-stop-circle")
                        span.btn__text  Button
                        svg.btn__svg
                           use(href="images/sprites/main.stack.svg#svg-stop-circle")
                  .uikit-button
                     span.uikit-title Default
                     button.btn.btn-icon
                        svg.btn__svg
                           use(href="images/sprites/main.stack.svg#svg-stop-circle")
                  .uikit-button
                     span.uikit-title Hover
                     button.btn.btn-hovered.btn-icon
                        svg.btn__svg
                           use(href="images/sprites/main.stack.svg#svg-stop-circle")
                  .uikit-button
                     span.uikit-title Active
                     button.btn.btn-actived.btn-icon
                        svg.btn__svg
                           use(href="images/sprites/main.stack.svg#svg-stop-circle")
                  .uikit-button
                     span.uikit-title Disable
                     button.btn.btn-disabled.btn-icon(disabled)
                        svg.btn__svg
                           use(href="images/sprites/main.stack.svg#svg-stop-circle")
               
               .uikit-bl.dark-theme
                  h2.uikit-theme DARK THEME L36
                  .uikit-button
                     span.uikit-title Default
                     button.btn Button
                  .uikit-button
                     span.uikit-title Hover
                     button.btn.btn-hovered Button
                  .uikit-button
                     span.uikit-title Active
                     button.btn.btn-actived Button
                  .uikit-button
                     span.uikit-title Disable
                     button.btn.btn-disabled(disabled) Button
                  .uikit-button
                     span.uikit-title Default
                     button.btn.btn-right-icon
                        |  Button
                        svg.btn__svg
                           use(href="images/sprites/main.stack.svg#svg-stop-circle")
                  .uikit-button
                     span.uikit-title Hover
                     button.btn.btn-hovered.btn-right-icon
                        |  Button
                        svg.btn__svg
                           use(href="images/sprites/main.stack.svg#svg-stop-circle")
                  .uikit-button
                     span.uikit-title Active
                     button.btn.btn-actived.btn-right-icon
                        |  Button
                        svg.btn__svg
                           use(href="images/sprites/main.stack.svg#svg-stop-circle")
                  .uikit-button
                     span.uikit-title Disable
                     button.btn.btn-disabled.btn-right-icon(disabled)
                        |  Button
                        svg.btn__svg
                           use(href="images/sprites/main.stack.svg#svg-stop-circle")
                  .uikit-button
                     span.uikit-title Default
                     button.btn.btn-left-icon
                        svg.btn__svg
                           use(href="images/sprites/main.stack.svg#svg-stop-circle")
                        |  Button
                  .uikit-button
                     span.uikit-title Hover
                     button.btn.btn-hovered.btn-left-icon
                        svg.btn__svg
                           use(href="images/sprites/main.stack.svg#svg-stop-circle")
                        |  Button
                  .uikit-button
                     span.uikit-title Active
                     button.btn.btn-actived.btn-left-icon
                        svg.btn__svg
                           use(href="images/sprites/main.stack.svg#svg-stop-circle")
                        |  Button
                  .uikit-button
                     span.uikit-title Disable
                     button.btn.btn-disabled.btn-left-icon(disabled)
                        svg.btn__svg
                           use(href="images/sprites/main.stack.svg#svg-stop-circle")
                        |  Button
                  .uikit-button
                     span.uikit-title Default
                     button.btn.btn-double-icon
                        svg.btn__svg
                           use(href="images/sprites/main.stack.svg#svg-stop-circle")
                        span.btn__text  Button
                        svg.btn__svg
                           use(href="images/sprites/main.stack.svg#svg-stop-circle")
                  .uikit-button
                     span.uikit-title Hover
                     button.btn.btn-hovered.btn-double-icon
                        svg.btn__svg
                           use(href="images/sprites/main.stack.svg#svg-stop-circle")
                        span.btn__text  Button
                        svg.btn__svg
                           use(href="images/sprites/main.stack.svg#svg-stop-circle")
                  .uikit-button
                     span.uikit-title Active
                     button.btn.btn-actived.btn-double-icon
                        svg.btn__svg
                           use(href="images/sprites/main.stack.svg#svg-stop-circle")
                        span.btn__text  Button
                        svg.btn__svg
                           use(href="images/sprites/main.stack.svg#svg-stop-circle")
                  .uikit-button
                     span.uikit-title Disable
                     button.btn.btn-disabled.btn-double-icon(disabled)
                        svg.btn__svg
                           use(href="images/sprites/main.stack.svg#svg-stop-circle")
                        span.btn__text  Button
                        svg.btn__svg
                           use(href="images/sprites/main.stack.svg#svg-stop-circle")
                  .uikit-button
                     span.uikit-title Default
                     button.btn.btn-icon
                        svg.btn__svg
                           use(href="images/sprites/main.stack.svg#svg-stop-circle")
                  .uikit-button
                     span.uikit-title Hover
                     button.btn.btn-hovered.btn-icon
                        svg.btn__svg
                           use(href="images/sprites/main.stack.svg#svg-stop-circle")
                  .uikit-button
                     span.uikit-title Active
                     button.btn.btn-actived.btn-icon
                        svg.btn__svg
                           use(href="images/sprites/main.stack.svg#svg-stop-circle")
                  .uikit-button
                     span.uikit-title Disable
                     button.btn.btn-disabled.btn-icon(disabled)
                        svg.btn__svg
                           use(href="images/sprites/main.stack.svg#svg-stop-circle")

         .uikit-box
            p.uikit-box__title Outline buttons
            .uikit-box__inner
               .uikit-bl
                  h2.uikit-theme WHITE THEME L36
                  .uikit-button
                     span.uikit-title Default
                     button.btn.btn-outline Button
                  .uikit-button
                     span.uikit-title Hover
                     button.btn.btn-outline.btn-hovered Button
                  .uikit-button
                     span.uikit-title Active
                     button.btn.btn-outline.btn-actived Button
                  .uikit-button
                     span.uikit-title Disable
                     button.btn.btn-outline.btn-disabled(disabled) Button
                  .uikit-button
                     span.uikit-title Default
                     button.btn.btn-outline.btn-right-icon
                        |  Button
                        svg.btn__svg
                           use(href="images/sprites/main.stack.svg#svg-stop-circle")
                  .uikit-button
                     span.uikit-title Hover
                     button.btn.btn-outline.btn-hovered.btn-right-icon
                        |  Button
                        svg.btn__svg
                           use(href="images/sprites/main.stack.svg#svg-stop-circle")
                  .uikit-button
                     span.uikit-title Active
                     button.btn.btn-outline.btn-actived.btn-right-icon
                        |  Button
                        svg.btn__svg
                           use(href="images/sprites/main.stack.svg#svg-stop-circle")
                  .uikit-button
                     span.uikit-title Disable
                     button.btn.btn-outline.btn-disabled.btn-right-icon(disabled)
                        |  Button
                        svg.btn__svg
                           use(href="images/sprites/main.stack.svg#svg-stop-circle")
                  .uikit-button
                     span.uikit-title Default
                     button.btn.btn-outline.btn-left-icon
                        svg.btn__svg
                           use(href="images/sprites/main.stack.svg#svg-stop-circle")
                        |  Button
                  .uikit-button
                     span.uikit-title Hover
                     button.btn.btn-outline.btn-hovered.btn-left-icon
                        svg.btn__svg
                           use(href="images/sprites/main.stack.svg#svg-stop-circle")
                        |  Button
                  .uikit-button
                     span.uikit-title Active
                     button.btn.btn-outline.btn-actived.btn-left-icon
                        svg.btn__svg
                           use(href="images/sprites/main.stack.svg#svg-stop-circle")
                        |  Button
                  .uikit-button
                     span.uikit-title Disable
                     button.btn.btn-outline.btn-disabled.btn-left-icon(disabled)
                        svg.btn__svg
                           use(href="images/sprites/main.stack.svg#svg-stop-circle")
                        |  Button
                  .uikit-button
                     span.uikit-title Default
                     button.btn.btn-outline.btn-double-icon
                        svg.btn__svg
                           use(href="images/sprites/main.stack.svg#svg-stop-circle")
                        span.btn__text  Button
                        svg.btn__svg
                           use(href="images/sprites/main.stack.svg#svg-stop-circle")
                  .uikit-button
                     span.uikit-title Hover
                     button.btn.btn-outline.btn-hovered.btn-double-icon
                        svg.btn__svg
                           use(href="images/sprites/main.stack.svg#svg-stop-circle")
                        span.btn__text  Button
                        svg.btn__svg
                           use(href="images/sprites/main.stack.svg#svg-stop-circle")
                  .uikit-button
                     span.uikit-title Active
                     button.btn.btn-outline.btn-actived.btn-double-icon
                        svg.btn__svg
                           use(href="images/sprites/main.stack.svg#svg-stop-circle")
                        span.btn__text  Button
                        svg.btn__svg
                           use(href="images/sprites/main.stack.svg#svg-stop-circle")
                  .uikit-button
                     span.uikit-title Disable
                     button.btn.btn-outline.btn-disabled.btn-double-icon(disabled)
                        svg.btn__svg
                           use(href="images/sprites/main.stack.svg#svg-stop-circle")
                        span.btn__text  Button
                        svg.btn__svg
                           use(href="images/sprites/main.stack.svg#svg-stop-circle")
                  .uikit-button
                     span.uikit-title Default
                     button.btn.btn-outline.btn-icon
                        svg.btn__svg
                           use(href="images/sprites/main.stack.svg#svg-stop-circle")
                  .uikit-button
                     span.uikit-title Hover
                     button.btn.btn-outline.btn-hovered.btn-icon
                        svg.btn__svg
                           use(href="images/sprites/main.stack.svg#svg-stop-circle")
                  .uikit-button
                     span.uikit-title Active
                     button.btn.btn-outline.btn-actived.btn-icon
                        svg.btn__svg
                           use(href="images/sprites/main.stack.svg#svg-stop-circle")
                  .uikit-button
                     span.uikit-title Disable
                     button.btn.btn-outline.btn-disabled.btn-icon(disabled)
                        svg.btn__svg
                           use(href="images/sprites/main.stack.svg#svg-stop-circle")
               
               .uikit-bl.dark-theme
                  h2.uikit-theme DARK THEME L36
                  .uikit-button
                     span.uikit-title Default
                     button.btn.btn-outline Button
                  .uikit-button
                     span.uikit-title Hover
                     button.btn.btn-outline.btn-hovered Button
                  .uikit-button
                     span.uikit-title Active
                     button.btn.btn-outline.btn-actived Button
                  .uikit-button
                     span.uikit-title Disable
                     button.btn.btn-outline.btn-disabled(disabled) Button
                  .uikit-button
                     span.uikit-title Default
                     button.btn.btn-outline.btn-right-icon
                        |  Button
                        svg.btn__svg
                           use(href="images/sprites/main.stack.svg#svg-stop-circle")
                  .uikit-button
                     span.uikit-title Hover
                     button.btn.btn-outline.btn-hovered.btn-right-icon
                        |  Button
                        svg.btn__svg
                           use(href="images/sprites/main.stack.svg#svg-stop-circle")
                  .uikit-button
                     span.uikit-title Active
                     button.btn.btn-outline.btn-actived.btn-right-icon
                        |  Button
                        svg.btn__svg
                           use(href="images/sprites/main.stack.svg#svg-stop-circle")
                  .uikit-button
                     span.uikit-title Disable
                     button.btn.btn-outline.btn-disabled.btn-right-icon(disabled)
                        |  Button
                        svg.btn__svg
                           use(href="images/sprites/main.stack.svg#svg-stop-circle")
                  .uikit-button
                     span.uikit-title Default
                     button.btn.btn-outline.btn-left-icon
                        svg.btn__svg
                           use(href="images/sprites/main.stack.svg#svg-stop-circle")
                        |  Button
                  .uikit-button
                     span.uikit-title Hover
                     button.btn.btn-outline.btn-hovered.btn-left-icon
                        svg.btn__svg
                           use(href="images/sprites/main.stack.svg#svg-stop-circle")
                        |  Button
                  .uikit-button
                     span.uikit-title Active
                     button.btn.btn-outline.btn-actived.btn-left-icon
                        svg.btn__svg
                           use(href="images/sprites/main.stack.svg#svg-stop-circle")
                        |  Button
                  .uikit-button
                     span.uikit-title Disable
                     button.btn.btn-outline.btn-disabled.btn-left-icon(disabled)
                        svg.btn__svg
                           use(href="images/sprites/main.stack.svg#svg-stop-circle")
                        |  Button
                  .uikit-button
                     span.uikit-title Default
                     button.btn.btn-outline.btn-double-icon
                        svg.btn__svg
                           use(href="images/sprites/main.stack.svg#svg-stop-circle")
                        span.btn__text  Button
                        svg.btn__svg
                           use(href="images/sprites/main.stack.svg#svg-stop-circle")
                  .uikit-button
                     span.uikit-title Hover
                     button.btn.btn-outline.btn-hovered.btn-double-icon
                        svg.btn__svg
                           use(href="images/sprites/main.stack.svg#svg-stop-circle")
                        span.btn__text  Button
                        svg.btn__svg
                           use(href="images/sprites/main.stack.svg#svg-stop-circle")
                  .uikit-button
                     span.uikit-title Active
                     button.btn.btn-outline.btn-actived.btn-double-icon
                        svg.btn__svg
                           use(href="images/sprites/main.stack.svg#svg-stop-circle")
                        span.btn__text  Button
                        svg.btn__svg
                           use(href="images/sprites/main.stack.svg#svg-stop-circle")
                  .uikit-button
                     span.uikit-title Disable
                     button.btn.btn-outline.btn-disabled.btn-double-icon(disabled)
                        svg.btn__svg
                           use(href="images/sprites/main.stack.svg#svg-stop-circle")
                        span.btn__text  Button
                        svg.btn__svg
                           use(href="images/sprites/main.stack.svg#svg-stop-circle")
                  .uikit-button
                     span.uikit-title Default
                     button.btn.btn-outline.btn-icon
                        svg.btn__svg
                           use(href="images/sprites/main.stack.svg#svg-stop-circle")
                  .uikit-button
                     span.uikit-title Hover
                     button.btn.btn-outline.btn-hovered.btn-icon
                        svg.btn__svg
                           use(href="images/sprites/main.stack.svg#svg-stop-circle")
                  .uikit-button
                     span.uikit-title Active
                     button.btn.btn-outline.btn-actived.btn-icon
                        svg.btn__svg
                           use(href="images/sprites/main.stack.svg#svg-stop-circle")
                  .uikit-button
                     span.uikit-title Disable
                     button.btn.btn-outline.btn-disabled.btn-icon(disabled)
                        svg.btn__svg
                           use(href="images/sprites/main.stack.svg#svg-stop-circle")

         .uikit-box
            p.uikit-box__title Secondary buttons
            .uikit-box__inner
               .uikit-bl
                  h2.uikit-theme WHITE THEME L36
                  .uikit-button
                     span.uikit-title Default
                     button.btn.btn-secondary Button
                  .uikit-button
                     span.uikit-title Hover
                     button.btn.btn-secondary.btn-hovered Button
                  .uikit-button
                     span.uikit-title Active
                     button.btn.btn-secondary.btn-actived Button
                  .uikit-button
                     span.uikit-title Disable
                     button.btn.btn-secondary.btn-disabled(disabled) Button
                  .uikit-button
                     span.uikit-title Default
                     button.btn.btn-secondary.btn-right-icon
                        |  Button
                        svg.btn__svg
                           use(href="images/sprites/main.stack.svg#svg-stop-circle")
                  .uikit-button
                     span.uikit-title Hover
                     button.btn.btn-secondary.btn-hovered.btn-right-icon
                        |  Button
                        svg.btn__svg
                           use(href="images/sprites/main.stack.svg#svg-stop-circle")
                  .uikit-button
                     span.uikit-title Active
                     button.btn.btn-secondary.btn-actived.btn-right-icon
                        |  Button
                        svg.btn__svg
                           use(href="images/sprites/main.stack.svg#svg-stop-circle")
                  .uikit-button
                     span.uikit-title Disable
                     button.btn.btn-secondary.btn-disabled.btn-right-icon(disabled)
                        |  Button
                        svg.btn__svg
                           use(href="images/sprites/main.stack.svg#svg-stop-circle")
                  .uikit-button
                     span.uikit-title Default
                     button.btn.btn-secondary.btn-left-icon
                        svg.btn__svg
                           use(href="images/sprites/main.stack.svg#svg-stop-circle")
                        |  Button
                  .uikit-button
                     span.uikit-title Hover
                     button.btn.btn-secondary.btn-hovered.btn-left-icon
                        svg.btn__svg
                           use(href="images/sprites/main.stack.svg#svg-stop-circle")
                        |  Button
                  .uikit-button
                     span.uikit-title Active
                     button.btn.btn-secondary.btn-actived.btn-left-icon
                        svg.btn__svg
                           use(href="images/sprites/main.stack.svg#svg-stop-circle")
                        |  Button
                  .uikit-button
                     span.uikit-title Disable
                     button.btn.btn-secondary.btn-disabled.btn-left-icon(disabled)
                        svg.btn__svg
                           use(href="images/sprites/main.stack.svg#svg-stop-circle")
                        |  Button
                  .uikit-button
                     span.uikit-title Default
                     button.btn.btn-secondary.btn-double-icon
                        svg.btn__svg
                           use(href="images/sprites/main.stack.svg#svg-stop-circle")
                        span.btn__text  Button
                        svg.btn__svg
                           use(href="images/sprites/main.stack.svg#svg-stop-circle")
                  .uikit-button
                     span.uikit-title Hover
                     button.btn.btn-secondary.btn-hovered.btn-double-icon
                        svg.btn__svg
                           use(href="images/sprites/main.stack.svg#svg-stop-circle")
                        span.btn__text  Button
                        svg.btn__svg
                           use(href="images/sprites/main.stack.svg#svg-stop-circle")
                  .uikit-button
                     span.uikit-title Active
                     button.btn.btn-secondary.btn-actived.btn-double-icon
                        svg.btn__svg
                           use(href="images/sprites/main.stack.svg#svg-stop-circle")
                        span.btn__text  Button
                        svg.btn__svg
                           use(href="images/sprites/main.stack.svg#svg-stop-circle")
                  .uikit-button
                     span.uikit-title Disable
                     button.btn.btn-secondary.btn-disabled.btn-double-icon(disabled)
                        svg.btn__svg
                           use(href="images/sprites/main.stack.svg#svg-stop-circle")
                        span.btn__text  Button
                        svg.btn__svg
                           use(href="images/sprites/main.stack.svg#svg-stop-circle")
                  .uikit-button
                     span.uikit-title Default
                     button.btn.btn-secondary.btn-icon
                        svg.btn__svg
                           use(href="images/sprites/main.stack.svg#svg-stop-circle")
                  .uikit-button
                     span.uikit-title Hover
                     button.btn.btn-secondary.btn-hovered.btn-icon
                        svg.btn__svg
                           use(href="images/sprites/main.stack.svg#svg-stop-circle")
                  .uikit-button
                     span.uikit-title Active
                     button.btn.btn-secondary.btn-actived.btn-icon
                        svg.btn__svg
                           use(href="images/sprites/main.stack.svg#svg-stop-circle")
                  .uikit-button
                     span.uikit-title Disable
                     button.btn.btn-secondary.btn-disabled.btn-icon(disabled)
                        svg.btn__svg
                           use(href="images/sprites/main.stack.svg#svg-stop-circle")
               
               .uikit-bl.dark-theme
                  h2.uikit-theme DARK THEME L36
                  .uikit-button
                     span.uikit-title Default
                     button.btn.btn-secondary Button
                  .uikit-button
                     span.uikit-title Hover
                     button.btn.btn-secondary.btn-hovered Button
                  .uikit-button
                     span.uikit-title Active
                     button.btn.btn-secondary.btn-actived Button
                  .uikit-button
                     span.uikit-title Disable
                     button.btn.btn-secondary.btn-disabled(disabled) Button
                  .uikit-button
                     span.uikit-title Default
                     button.btn.btn-secondary.btn-right-icon
                        |  Button
                        svg.btn__svg
                           use(href="images/sprites/main.stack.svg#svg-stop-circle")
                  .uikit-button
                     span.uikit-title Hover
                     button.btn.btn-secondary.btn-hovered.btn-right-icon
                        |  Button
                        svg.btn__svg
                           use(href="images/sprites/main.stack.svg#svg-stop-circle")
                  .uikit-button
                     span.uikit-title Active
                     button.btn.btn-secondary.btn-actived.btn-right-icon
                        |  Button
                        svg.btn__svg
                           use(href="images/sprites/main.stack.svg#svg-stop-circle")
                  .uikit-button
                     span.uikit-title Disable
                     button.btn.btn-secondary.btn-disabled.btn-right-icon(disabled)
                        |  Button
                        svg.btn__svg
                           use(href="images/sprites/main.stack.svg#svg-stop-circle")
                  .uikit-button
                     span.uikit-title Default
                     button.btn.btn-secondary.btn-left-icon
                        svg.btn__svg
                           use(href="images/sprites/main.stack.svg#svg-stop-circle")
                        |  Button
                  .uikit-button
                     span.uikit-title Hover
                     button.btn.btn-secondary.btn-hovered.btn-left-icon
                        svg.btn__svg
                           use(href="images/sprites/main.stack.svg#svg-stop-circle")
                        |  Button
                  .uikit-button
                     span.uikit-title Active
                     button.btn.btn-secondary.btn-actived.btn-left-icon
                        svg.btn__svg
                           use(href="images/sprites/main.stack.svg#svg-stop-circle")
                        |  Button
                  .uikit-button
                     span.uikit-title Disable
                     button.btn.btn-secondary.btn-disabled.btn-left-icon(disabled)
                        svg.btn__svg
                           use(href="images/sprites/main.stack.svg#svg-stop-circle")
                        |  Button
                  .uikit-button
                     span.uikit-title Default
                     button.btn.btn-secondary.btn-double-icon
                        svg.btn__svg
                           use(href="images/sprites/main.stack.svg#svg-stop-circle")
                        span.btn__text  Button
                        svg.btn__svg
                           use(href="images/sprites/main.stack.svg#svg-stop-circle")
                  .uikit-button
                     span.uikit-title Hover
                     button.btn.btn-secondary.btn-hovered.btn-double-icon
                        svg.btn__svg
                           use(href="images/sprites/main.stack.svg#svg-stop-circle")
                        span.btn__text  Button
                        svg.btn__svg
                           use(href="images/sprites/main.stack.svg#svg-stop-circle")
                  .uikit-button
                     span.uikit-title Active
                     button.btn.btn-secondary.btn-actived.btn-double-icon
                        svg.btn__svg
                           use(href="images/sprites/main.stack.svg#svg-stop-circle")
                        span.btn__text  Button
                        svg.btn__svg
                           use(href="images/sprites/main.stack.svg#svg-stop-circle")
                  .uikit-button
                     span.uikit-title Disable
                     button.btn.btn-secondary.btn-disabled.btn-double-icon(disabled)
                        svg.btn__svg
                           use(href="images/sprites/main.stack.svg#svg-stop-circle")
                        span.btn__text  Button
                        svg.btn__svg
                           use(href="images/sprites/main.stack.svg#svg-stop-circle")
                  .uikit-button
                     span.uikit-title Default
                     button.btn.btn-secondary.btn-icon
                        svg.btn__svg
                           use(href="images/sprites/main.stack.svg#svg-stop-circle")
                  .uikit-button
                     span.uikit-title Hover
                     button.btn.btn-secondary.btn-hovered.btn-icon
                        svg.btn__svg
                           use(href="images/sprites/main.stack.svg#svg-stop-circle")
                  .uikit-button
                     span.uikit-title Active
                     button.btn.btn-secondary.btn-actived.btn-icon
                        svg.btn__svg
                           use(href="images/sprites/main.stack.svg#svg-stop-circle")
                  .uikit-button
                     span.uikit-title Disable
                     button.btn.btn-secondary.btn-disabled.btn-icon(disabled)
                        svg.btn__svg
                           use(href="images/sprites/main.stack.svg#svg-stop-circle")

         .uikit-box
            p.uikit-box__title Primary buttons
            .uikit-box__inner
               .uikit-bl
                  h2.uikit-theme WHITE THEME L48
                  .uikit-button
                     span.uikit-title Default
                     button.btn.btn-high Button
                  .uikit-button
                     span.uikit-title Hover
                     button.btn.btn-high.btn-hovered Button
                  .uikit-button
                     span.uikit-title Active
                     button.btn.btn-high.btn-actived Button
                  .uikit-button
                     span.uikit-title Disable
                     button.btn.btn-high.btn-disabled(disabled) Button
                  .uikit-button
                     span.uikit-title Default
                     button.btn.btn-high.btn-right-icon
                        |  Button
                        svg.btn__svg
                           use(href="images/sprites/main.stack.svg#svg-stop-circle")
                  .uikit-button
                     span.uikit-title Hover
                     button.btn.btn-high.btn-hovered.btn-right-icon
                        |  Button
                        svg.btn__svg
                           use(href="images/sprites/main.stack.svg#svg-stop-circle")
                  .uikit-button
                     span.uikit-title Active
                     button.btn.btn-high.btn-actived.btn-right-icon
                        |  Button
                        svg.btn__svg
                           use(href="images/sprites/main.stack.svg#svg-stop-circle")
                  .uikit-button
                     span.uikit-title Disable
                     button.btn.btn-high.btn-disabled.btn-right-icon(disabled)
                        |  Button
                        svg.btn__svg
                           use(href="images/sprites/main.stack.svg#svg-stop-circle")
                  .uikit-button
                     span.uikit-title Default
                     button.btn.btn-high.btn-left-icon
                        svg.btn__svg
                           use(href="images/sprites/main.stack.svg#svg-stop-circle")
                        |  Button
                  .uikit-button
                     span.uikit-title Hover
                     button.btn.btn-high.btn-hovered.btn-left-icon
                        svg.btn__svg
                           use(href="images/sprites/main.stack.svg#svg-stop-circle")
                        |  Button
                  .uikit-button
                     span.uikit-title Active
                     button.btn.btn-high.btn-actived.btn-left-icon
                        svg.btn__svg
                           use(href="images/sprites/main.stack.svg#svg-stop-circle")
                        |  Button
                  .uikit-button
                     span.uikit-title Disable
                     button.btn.btn-high.btn-disabled.btn-left-icon(disabled)
                        svg.btn__svg
                           use(href="images/sprites/main.stack.svg#svg-stop-circle")
                        |  Button
                  .uikit-button
                     span.uikit-title Default
                     button.btn.btn-high.btn-double-icon
                        svg.btn__svg
                           use(href="images/sprites/main.stack.svg#svg-stop-circle")
                        span.btn__text  Button
                        svg.btn__svg
                           use(href="images/sprites/main.stack.svg#svg-stop-circle")
                  .uikit-button
                     span.uikit-title Hover
                     button.btn.btn-high.btn-hovered.btn-double-icon
                        svg.btn__svg
                           use(href="images/sprites/main.stack.svg#svg-stop-circle")
                        span.btn__text  Button
                        svg.btn__svg
                           use(href="images/sprites/main.stack.svg#svg-stop-circle")
                  .uikit-button
                     span.uikit-title Active
                     button.btn.btn-high.btn-actived.btn-double-icon
                        svg.btn__svg
                           use(href="images/sprites/main.stack.svg#svg-stop-circle")
                        span.btn__text  Button
                        svg.btn__svg
                           use(href="images/sprites/main.stack.svg#svg-stop-circle")
                  .uikit-button
                     span.uikit-title Disable
                     button.btn.btn-high.btn-disabled.btn-double-icon(disabled)
                        svg.btn__svg
                           use(href="images/sprites/main.stack.svg#svg-stop-circle")
                        span.btn__text  Button
                        svg.btn__svg
                           use(href="images/sprites/main.stack.svg#svg-stop-circle")
                  .uikit-button
                     span.uikit-title Default
                     button.btn.btn-high.btn-icon
                        svg.btn__svg
                           use(href="images/sprites/main.stack.svg#svg-stop-circle")
                  .uikit-button
                     span.uikit-title Hover
                     button.btn.btn-high.btn-hovered.btn-icon
                        svg.btn__svg
                           use(href="images/sprites/main.stack.svg#svg-stop-circle")
                  .uikit-button
                     span.uikit-title Active
                     button.btn.btn-high.btn-actived.btn-icon
                        svg.btn__svg
                           use(href="images/sprites/main.stack.svg#svg-stop-circle")
                  .uikit-button
                     span.uikit-title Disable
                     button.btn.btn-high.btn-disabled.btn-icon(disabled)
                        svg.btn__svg
                           use(href="images/sprites/main.stack.svg#svg-stop-circle")
               
               .uikit-bl.dark-theme
                  h2.uikit-theme DARK THEME L48
                  .uikit-button
                     span.uikit-title Default
                     button.btn.btn-high Button
                  .uikit-button
                     span.uikit-title Hover
                     button.btn.btn-high.btn-hovered Button
                  .uikit-button
                     span.uikit-title Active
                     button.btn.btn-high.btn-actived Button
                  .uikit-button
                     span.uikit-title Disable
                     button.btn.btn-high.btn-disabled(disabled) Button
                  .uikit-button
                     span.uikit-title Default
                     button.btn.btn-high.btn-right-icon
                        |  Button
                        svg.btn__svg
                           use(href="images/sprites/main.stack.svg#svg-stop-circle")
                  .uikit-button
                     span.uikit-title Hover
                     button.btn.btn-high.btn-hovered.btn-right-icon
                        |  Button
                        svg.btn__svg
                           use(href="images/sprites/main.stack.svg#svg-stop-circle")
                  .uikit-button
                     span.uikit-title Active
                     button.btn.btn-high.btn-actived.btn-right-icon
                        |  Button
                        svg.btn__svg
                           use(href="images/sprites/main.stack.svg#svg-stop-circle")
                  .uikit-button
                     span.uikit-title Disable
                     button.btn.btn-high.btn-disabled.btn-right-icon(disabled)
                        |  Button
                        svg.btn__svg
                           use(href="images/sprites/main.stack.svg#svg-stop-circle")
                  .uikit-button
                     span.uikit-title Default
                     button.btn.btn-high.btn-left-icon
                        svg.btn__svg
                           use(href="images/sprites/main.stack.svg#svg-stop-circle")
                        |  Button
                  .uikit-button
                     span.uikit-title Hover
                     button.btn.btn-high.btn-hovered.btn-left-icon
                        svg.btn__svg
                           use(href="images/sprites/main.stack.svg#svg-stop-circle")
                        |  Button
                  .uikit-button
                     span.uikit-title Active
                     button.btn.btn-high.btn-actived.btn-left-icon
                        svg.btn__svg
                           use(href="images/sprites/main.stack.svg#svg-stop-circle")
                        |  Button
                  .uikit-button
                     span.uikit-title Disable
                     button.btn.btn-high.btn-disabled.btn-left-icon(disabled)
                        svg.btn__svg
                           use(href="images/sprites/main.stack.svg#svg-stop-circle")
                        |  Button
                  .uikit-button
                     span.uikit-title Default
                     button.btn.btn-high.btn-double-icon
                        svg.btn__svg
                           use(href="images/sprites/main.stack.svg#svg-stop-circle")
                        span.btn__text  Button
                        svg.btn__svg
                           use(href="images/sprites/main.stack.svg#svg-stop-circle")
                  .uikit-button
                     span.uikit-title Hover
                     button.btn.btn-high.btn-hovered.btn-double-icon
                        svg.btn__svg
                           use(href="images/sprites/main.stack.svg#svg-stop-circle")
                        span.btn__text  Button
                        svg.btn__svg
                           use(href="images/sprites/main.stack.svg#svg-stop-circle")
                  .uikit-button
                     span.uikit-title Active
                     button.btn.btn-high.btn-actived.btn-double-icon
                        svg.btn__svg
                           use(href="images/sprites/main.stack.svg#svg-stop-circle")
                        span.btn__text  Button
                        svg.btn__svg
                           use(href="images/sprites/main.stack.svg#svg-stop-circle")
                  .uikit-button
                     span.uikit-title Disable
                     button.btn.btn-high.btn-disabled.btn-double-icon(disabled)
                        svg.btn__svg
                           use(href="images/sprites/main.stack.svg#svg-stop-circle")
                        span.btn__text  Button
                        svg.btn__svg
                           use(href="images/sprites/main.stack.svg#svg-stop-circle")
                  .uikit-button
                     span.uikit-title Default
                     button.btn.btn-high.btn-icon
                        svg.btn__svg
                           use(href="images/sprites/main.stack.svg#svg-stop-circle")
                  .uikit-button
                     span.uikit-title Hover
                     button.btn.btn-high.btn-hovered.btn-icon
                        svg.btn__svg
                           use(href="images/sprites/main.stack.svg#svg-stop-circle")
                  .uikit-button
                     span.uikit-title Active
                     button.btn.btn-high.btn-actived.btn-icon
                        svg.btn__svg
                           use(href="images/sprites/main.stack.svg#svg-stop-circle")
                  .uikit-button
                     span.uikit-title Disable
                     button.btn.btn-high.btn-disabled.btn-icon(disabled)
                        svg.btn__svg
                           use(href="images/sprites/main.stack.svg#svg-stop-circle")

         .uikit-box
            p.uikit-box__title Outline buttons
            .uikit-box__inner
               .uikit-bl
                  h2.uikit-theme WHITE THEME L48
                  .uikit-button
                     span.uikit-title Default
                     button.btn.btn-high.btn-outline Button
                  .uikit-button
                     span.uikit-title Hover
                     button.btn.btn-high.btn-outline.btn-hovered Button
                  .uikit-button
                     span.uikit-title Active
                     button.btn.btn-high.btn-outline.btn-actived Button
                  .uikit-button
                     span.uikit-title Disable
                     button.btn.btn-high.btn-outline.btn-disabled(disabled) Button
                  .uikit-button
                     span.uikit-title Default
                     button.btn.btn-high.btn-outline.btn-right-icon
                        |  Button
                        svg.btn__svg
                           use(href="images/sprites/main.stack.svg#svg-stop-circle")
                  .uikit-button
                     span.uikit-title Hover
                     button.btn.btn-high.btn-outline.btn-hovered.btn-right-icon
                        |  Button
                        svg.btn__svg
                           use(href="images/sprites/main.stack.svg#svg-stop-circle")
                  .uikit-button
                     span.uikit-title Active
                     button.btn.btn-high.btn-outline.btn-actived.btn-right-icon
                        |  Button
                        svg.btn__svg
                           use(href="images/sprites/main.stack.svg#svg-stop-circle")
                  .uikit-button
                     span.uikit-title Disable
                     button.btn.btn-high.btn-outline.btn-disabled.btn-right-icon(disabled)
                        |  Button
                        svg.btn__svg
                           use(href="images/sprites/main.stack.svg#svg-stop-circle")
                  .uikit-button
                     span.uikit-title Default
                     button.btn.btn-high.btn-outline.btn-left-icon
                        svg.btn__svg
                           use(href="images/sprites/main.stack.svg#svg-stop-circle")
                        |  Button
                  .uikit-button
                     span.uikit-title Hover
                     button.btn.btn-high.btn-outline.btn-hovered.btn-left-icon
                        svg.btn__svg
                           use(href="images/sprites/main.stack.svg#svg-stop-circle")
                        |  Button
                  .uikit-button
                     span.uikit-title Active
                     button.btn.btn-high.btn-outline.btn-actived.btn-left-icon
                        svg.btn__svg
                           use(href="images/sprites/main.stack.svg#svg-stop-circle")
                        |  Button
                  .uikit-button
                     span.uikit-title Disable
                     button.btn.btn-high.btn-outline.btn-disabled.btn-left-icon(disabled)
                        svg.btn__svg
                           use(href="images/sprites/main.stack.svg#svg-stop-circle")
                        |  Button
                  .uikit-button
                     span.uikit-title Default
                     button.btn.btn-high.btn-outline.btn-double-icon
                        svg.btn__svg
                           use(href="images/sprites/main.stack.svg#svg-stop-circle")
                        span.btn__text  Button
                        svg.btn__svg
                           use(href="images/sprites/main.stack.svg#svg-stop-circle")
                  .uikit-button
                     span.uikit-title Hover
                     button.btn.btn-high.btn-outline.btn-hovered.btn-double-icon
                        svg.btn__svg
                           use(href="images/sprites/main.stack.svg#svg-stop-circle")
                        span.btn__text  Button
                        svg.btn__svg
                           use(href="images/sprites/main.stack.svg#svg-stop-circle")
                  .uikit-button
                     span.uikit-title Active
                     button.btn.btn-high.btn-outline.btn-actived.btn-double-icon
                        svg.btn__svg
                           use(href="images/sprites/main.stack.svg#svg-stop-circle")
                        span.btn__text  Button
                        svg.btn__svg
                           use(href="images/sprites/main.stack.svg#svg-stop-circle")
                  .uikit-button
                     span.uikit-title Disable
                     button.btn.btn-high.btn-outline.btn-disabled.btn-double-icon(disabled)
                        svg.btn__svg
                           use(href="images/sprites/main.stack.svg#svg-stop-circle")
                        span.btn__text  Button
                        svg.btn__svg
                           use(href="images/sprites/main.stack.svg#svg-stop-circle")
                  .uikit-button
                     span.uikit-title Default
                     button.btn.btn-high.btn-outline.btn-icon
                        svg.btn__svg
                           use(href="images/sprites/main.stack.svg#svg-stop-circle")
                  .uikit-button
                     span.uikit-title Hover
                     button.btn.btn-high.btn-outline.btn-hovered.btn-icon
                        svg.btn__svg
                           use(href="images/sprites/main.stack.svg#svg-stop-circle")
                  .uikit-button
                     span.uikit-title Active
                     button.btn.btn-high.btn-outline.btn-actived.btn-icon
                        svg.btn__svg
                           use(href="images/sprites/main.stack.svg#svg-stop-circle")
                  .uikit-button
                     span.uikit-title Disable
                     button.btn.btn-high.btn-outline.btn-disabled.btn-icon(disabled)
                        svg.btn__svg
                           use(href="images/sprites/main.stack.svg#svg-stop-circle")
               
               .uikit-bl.dark-theme
                  h2.uikit-theme DARK THEME L48
                  .uikit-button
                     span.uikit-title Default
                     button.btn.btn-high.btn-outline Button
                  .uikit-button
                     span.uikit-title Hover
                     button.btn.btn-high.btn-outline.btn-hovered Button
                  .uikit-button
                     span.uikit-title Active
                     button.btn.btn-high.btn-outline.btn-actived Button
                  .uikit-button
                     span.uikit-title Disable
                     button.btn.btn-high.btn-outline.btn-disabled(disabled) Button
                  .uikit-button
                     span.uikit-title Default
                     button.btn.btn-high.btn-outline.btn-right-icon
                        |  Button
                        svg.btn__svg
                           use(href="images/sprites/main.stack.svg#svg-stop-circle")
                  .uikit-button
                     span.uikit-title Hover
                     button.btn.btn-high.btn-outline.btn-hovered.btn-right-icon
                        |  Button
                        svg.btn__svg
                           use(href="images/sprites/main.stack.svg#svg-stop-circle")
                  .uikit-button
                     span.uikit-title Active
                     button.btn.btn-high.btn-outline.btn-actived.btn-right-icon
                        |  Button
                        svg.btn__svg
                           use(href="images/sprites/main.stack.svg#svg-stop-circle")
                  .uikit-button
                     span.uikit-title Disable
                     button.btn.btn-high.btn-outline.btn-disabled.btn-right-icon(disabled)
                        |  Button
                        svg.btn__svg
                           use(href="images/sprites/main.stack.svg#svg-stop-circle")
                  .uikit-button
                     span.uikit-title Default
                     button.btn.btn-high.btn-outline.btn-left-icon
                        svg.btn__svg
                           use(href="images/sprites/main.stack.svg#svg-stop-circle")
                        |  Button
                  .uikit-button
                     span.uikit-title Hover
                     button.btn.btn-high.btn-outline.btn-hovered.btn-left-icon
                        svg.btn__svg
                           use(href="images/sprites/main.stack.svg#svg-stop-circle")
                        |  Button
                  .uikit-button
                     span.uikit-title Active
                     button.btn.btn-high.btn-outline.btn-actived.btn-left-icon
                        svg.btn__svg
                           use(href="images/sprites/main.stack.svg#svg-stop-circle")
                        |  Button
                  .uikit-button
                     span.uikit-title Disable
                     button.btn.btn-high.btn-outline.btn-disabled.btn-left-icon(disabled)
                        svg.btn__svg
                           use(href="images/sprites/main.stack.svg#svg-stop-circle")
                        |  Button
                  .uikit-button
                     span.uikit-title Default
                     button.btn.btn-high.btn-outline.btn-double-icon
                        svg.btn__svg
                           use(href="images/sprites/main.stack.svg#svg-stop-circle")
                        span.btn__text  Button
                        svg.btn__svg
                           use(href="images/sprites/main.stack.svg#svg-stop-circle")
                  .uikit-button
                     span.uikit-title Hover
                     button.btn.btn-high.btn-outline.btn-hovered.btn-double-icon
                        svg.btn__svg
                           use(href="images/sprites/main.stack.svg#svg-stop-circle")
                        span.btn__text  Button
                        svg.btn__svg
                           use(href="images/sprites/main.stack.svg#svg-stop-circle")
                  .uikit-button
                     span.uikit-title Active
                     button.btn.btn-high.btn-outline.btn-actived.btn-double-icon
                        svg.btn__svg
                           use(href="images/sprites/main.stack.svg#svg-stop-circle")
                        span.btn__text  Button
                        svg.btn__svg
                           use(href="images/sprites/main.stack.svg#svg-stop-circle")
                  .uikit-button
                     span.uikit-title Disable
                     button.btn.btn-high.btn-outline.btn-disabled.btn-double-icon(disabled)
                        svg.btn__svg
                           use(href="images/sprites/main.stack.svg#svg-stop-circle")
                        span.btn__text  Button
                        svg.btn__svg
                           use(href="images/sprites/main.stack.svg#svg-stop-circle")
                  .uikit-button
                     span.uikit-title Default
                     button.btn.btn-high.btn-outline.btn-icon
                        svg.btn__svg
                           use(href="images/sprites/main.stack.svg#svg-stop-circle")
                  .uikit-button
                     span.uikit-title Hover
                     button.btn.btn-high.btn-outline.btn-hovered.btn-icon
                        svg.btn__svg
                           use(href="images/sprites/main.stack.svg#svg-stop-circle")
                  .uikit-button
                     span.uikit-title Active
                     button.btn.btn-high.btn-outline.btn-actived.btn-icon
                        svg.btn__svg
                           use(href="images/sprites/main.stack.svg#svg-stop-circle")
                  .uikit-button
                     span.uikit-title Disable
                     button.btn.btn-high.btn-outline.btn-disabled.btn-icon(disabled)
                        svg.btn__svg
                           use(href="images/sprites/main.stack.svg#svg-stop-circle")

         .uikit-box
            p.uikit-box__title Secondary buttons
            .uikit-box__inner
               .uikit-bl
                  h2.uikit-theme WHITE THEME L48
                  .uikit-button
                     span.uikit-title Default
                     button.btn.btn-high.btn-secondary Button
                  .uikit-button
                     span.uikit-title Hover
                     button.btn.btn-high.btn-secondary.btn-hovered Button
                  .uikit-button
                     span.uikit-title Active
                     button.btn.btn-high.btn-secondary.btn-actived Button
                  .uikit-button
                     span.uikit-title Disable
                     button.btn.btn-high.btn-secondary.btn-disabled(disabled) Button
                  .uikit-button
                     span.uikit-title Default
                     button.btn.btn-high.btn-secondary.btn-right-icon
                        |  Button
                        svg.btn__svg
                           use(href="images/sprites/main.stack.svg#svg-stop-circle")
                  .uikit-button
                     span.uikit-title Hover
                     button.btn.btn-high.btn-secondary.btn-hovered.btn-right-icon
                        |  Button
                        svg.btn__svg
                           use(href="images/sprites/main.stack.svg#svg-stop-circle")
                  .uikit-button
                     span.uikit-title Active
                     button.btn.btn-high.btn-secondary.btn-actived.btn-right-icon
                        |  Button
                        svg.btn__svg
                           use(href="images/sprites/main.stack.svg#svg-stop-circle")
                  .uikit-button
                     span.uikit-title Disable
                     button.btn.btn-high.btn-secondary.btn-disabled.btn-right-icon(disabled)
                        |  Button
                        svg.btn__svg
                           use(href="images/sprites/main.stack.svg#svg-stop-circle")
                  .uikit-button
                     span.uikit-title Default
                     button.btn.btn-high.btn-secondary.btn-left-icon
                        svg.btn__svg
                           use(href="images/sprites/main.stack.svg#svg-stop-circle")
                        |  Button
                  .uikit-button
                     span.uikit-title Hover
                     button.btn.btn-high.btn-secondary.btn-hovered.btn-left-icon
                        svg.btn__svg
                           use(href="images/sprites/main.stack.svg#svg-stop-circle")
                        |  Button
                  .uikit-button
                     span.uikit-title Active
                     button.btn.btn-high.btn-secondary.btn-actived.btn-left-icon
                        svg.btn__svg
                           use(href="images/sprites/main.stack.svg#svg-stop-circle")
                        |  Button
                  .uikit-button
                     span.uikit-title Disable
                     button.btn.btn-high.btn-secondary.btn-disabled.btn-left-icon(disabled)
                        svg.btn__svg
                           use(href="images/sprites/main.stack.svg#svg-stop-circle")
                        |  Button
                  .uikit-button
                     span.uikit-title Default
                     button.btn.btn-high.btn-secondary.btn-double-icon
                        svg.btn__svg
                           use(href="images/sprites/main.stack.svg#svg-stop-circle")
                        span.btn__text  Button
                        svg.btn__svg
                           use(href="images/sprites/main.stack.svg#svg-stop-circle")
                  .uikit-button
                     span.uikit-title Hover
                     button.btn.btn-high.btn-secondary.btn-hovered.btn-double-icon
                        svg.btn__svg
                           use(href="images/sprites/main.stack.svg#svg-stop-circle")
                        span.btn__text  Button
                        svg.btn__svg
                           use(href="images/sprites/main.stack.svg#svg-stop-circle")
                  .uikit-button
                     span.uikit-title Active
                     button.btn.btn-high.btn-secondary.btn-actived.btn-double-icon
                        svg.btn__svg
                           use(href="images/sprites/main.stack.svg#svg-stop-circle")
                        span.btn__text  Button
                        svg.btn__svg
                           use(href="images/sprites/main.stack.svg#svg-stop-circle")
                  .uikit-button
                     span.uikit-title Disable
                     button.btn.btn-high.btn-secondary.btn-disabled.btn-double-icon(disabled)
                        svg.btn__svg
                           use(href="images/sprites/main.stack.svg#svg-stop-circle")
                        span.btn__text  Button
                        svg.btn__svg
                           use(href="images/sprites/main.stack.svg#svg-stop-circle")
                  .uikit-button
                     span.uikit-title Default
                     button.btn.btn-high.btn-secondary.btn-icon
                        svg.btn__svg
                           use(href="images/sprites/main.stack.svg#svg-stop-circle")
                  .uikit-button
                     span.uikit-title Hover
                     button.btn.btn-high.btn-secondary.btn-hovered.btn-icon
                        svg.btn__svg
                           use(href="images/sprites/main.stack.svg#svg-stop-circle")
                  .uikit-button
                     span.uikit-title Active
                     button.btn.btn-high.btn-secondary.btn-actived.btn-icon
                        svg.btn__svg
                           use(href="images/sprites/main.stack.svg#svg-stop-circle")
                  .uikit-button
                     span.uikit-title Disable
                     button.btn.btn-high.btn-secondary.btn-disabled.btn-icon(disabled)
                        svg.btn__svg
                           use(href="images/sprites/main.stack.svg#svg-stop-circle")
               
               .uikit-bl.dark-theme
                  h2.uikit-theme DARK THEME L48
                  .uikit-button
                     span.uikit-title Default
                     button.btn.btn-high.btn-secondary Button
                  .uikit-button
                     span.uikit-title Hover
                     button.btn.btn-high.btn-secondary.btn-hovered Button
                  .uikit-button
                     span.uikit-title Active
                     button.btn.btn-high.btn-secondary.btn-actived Button
                  .uikit-button
                     span.uikit-title Disable
                     button.btn.btn-high.btn-secondary.btn-disabled(disabled) Button
                  .uikit-button
                     span.uikit-title Default
                     button.btn.btn-high.btn-secondary.btn-right-icon
                        |  Button
                        svg.btn__svg
                           use(href="images/sprites/main.stack.svg#svg-stop-circle")
                  .uikit-button
                     span.uikit-title Hover
                     button.btn.btn-high.btn-secondary.btn-hovered.btn-right-icon
                        |  Button
                        svg.btn__svg
                           use(href="images/sprites/main.stack.svg#svg-stop-circle")
                  .uikit-button
                     span.uikit-title Active
                     button.btn.btn-high.btn-secondary.btn-actived.btn-right-icon
                        |  Button
                        svg.btn__svg
                           use(href="images/sprites/main.stack.svg#svg-stop-circle")
                  .uikit-button
                     span.uikit-title Disable
                     button.btn.btn-high.btn-secondary.btn-disabled.btn-right-icon(disabled)
                        |  Button
                        svg.btn__svg
                           use(href="images/sprites/main.stack.svg#svg-stop-circle")
                  .uikit-button
                     span.uikit-title Default
                     button.btn.btn-high.btn-secondary.btn-left-icon
                        svg.btn__svg
                           use(href="images/sprites/main.stack.svg#svg-stop-circle")
                        |  Button
                  .uikit-button
                     span.uikit-title Hover
                     button.btn.btn-high.btn-secondary.btn-hovered.btn-left-icon
                        svg.btn__svg
                           use(href="images/sprites/main.stack.svg#svg-stop-circle")
                        |  Button
                  .uikit-button
                     span.uikit-title Active
                     button.btn.btn-high.btn-secondary.btn-actived.btn-left-icon
                        svg.btn__svg
                           use(href="images/sprites/main.stack.svg#svg-stop-circle")
                        |  Button
                  .uikit-button
                     span.uikit-title Disable
                     button.btn.btn-high.btn-secondary.btn-disabled.btn-left-icon(disabled)
                        svg.btn__svg
                           use(href="images/sprites/main.stack.svg#svg-stop-circle")
                        |  Button
                  .uikit-button
                     span.uikit-title Default
                     button.btn.btn-high.btn-secondary.btn-double-icon
                        svg.btn__svg
                           use(href="images/sprites/main.stack.svg#svg-stop-circle")
                        span.btn__text  Button
                        svg.btn__svg
                           use(href="images/sprites/main.stack.svg#svg-stop-circle")
                  .uikit-button
                     span.uikit-title Hover
                     button.btn.btn-high.btn-secondary.btn-hovered.btn-double-icon
                        svg.btn__svg
                           use(href="images/sprites/main.stack.svg#svg-stop-circle")
                        span.btn__text  Button
                        svg.btn__svg
                           use(href="images/sprites/main.stack.svg#svg-stop-circle")
                  .uikit-button
                     span.uikit-title Active
                     button.btn.btn-high.btn-secondary.btn-actived.btn-double-icon
                        svg.btn__svg
                           use(href="images/sprites/main.stack.svg#svg-stop-circle")
                        span.btn__text  Button
                        svg.btn__svg
                           use(href="images/sprites/main.stack.svg#svg-stop-circle")
                  .uikit-button
                     span.uikit-title Disable
                     button.btn.btn-high.btn-secondary.btn-disabled.btn-double-icon(disabled)
                        svg.btn__svg
                           use(href="images/sprites/main.stack.svg#svg-stop-circle")
                        span.btn__text  Button
                        svg.btn__svg
                           use(href="images/sprites/main.stack.svg#svg-stop-circle")
                  .uikit-button
                     span.uikit-title Default
                     button.btn.btn-high.btn-secondary.btn-icon
                        svg.btn__svg
                           use(href="images/sprites/main.stack.svg#svg-stop-circle")
                  .uikit-button
                     span.uikit-title Hover
                     button.btn.btn-high.btn-secondary.btn-hovered.btn-icon
                        svg.btn__svg
                           use(href="images/sprites/main.stack.svg#svg-stop-circle")
                  .uikit-button
                     span.uikit-title Active
                     button.btn.btn-high.btn-secondary.btn-actived.btn-icon
                        svg.btn__svg
                           use(href="images/sprites/main.stack.svg#svg-stop-circle")
                  .uikit-button
                     span.uikit-title Disable
                     button.btn.btn-high.btn-secondary.btn-disabled.btn-icon(disabled)
                        svg.btn__svg
                           use(href="images/sprites/main.stack.svg#svg-stop-circle")