html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%
}
body {
  margin: 0
}
main {
  display: block
}
h1 {
  font-size: 2em;
  margin: .67em 0
}
hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible
}
pre {
  font-family: monospace,monospace;
  font-size: 1em
}
a {
  background-color: transparent
}
abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted
}
b,
strong {
  font-weight: bolder
}
code,
kbd,
samp {
  font-family: monospace,monospace;
  font-size: 1em
}
small {
  font-size: 80%
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline
}
sub {
  bottom: -.25em
}
sup {
  top: -.5em
}
img {
  border-style: none
}
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  outline: 0;
  margin: 0
}
button,
input {
  overflow: visible
}
button,
select {
  text-transform: none
}
[type=button],
[type=reset],
[type=submit],
button {
  -webkit-appearance: button
}
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner,
button::-moz-focus-inner {
  border-style: none;
  padding: 0
}
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring,
button:-moz-focusring {
  outline: 1px dotted ButtonText
}
fieldset {
  padding: .35em .75em .625em
}
legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal
}
progress {
  vertical-align: baseline
}
textarea {
  overflow: auto
}
[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  padding: 0
}
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto
}
[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px
}
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none
}
::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit
}
details {
  display: block
}
summary {
  display: list-item
}
template {
  display: none
}
[hidden] {
  display: none
}
:root {
  --accent: #E81943;
  --theme000: #ffffff;
  --theme010: #FDFDFD;
  --theme020: #FAFAFA;
  --theme030: #F7F7F7;
  --theme040: #F5F5F5;
  --theme050: #F2F2F2;
  --theme100: #E6E6E6;
  --theme150: #D9D9D9;
  --theme200: #cccccc;
  --theme250: #BFBFBF;
  --theme300: #B3B3B3;
  --theme350: #A6A6A6;
  --theme400: #999999;
  --theme450: #8C8C8C;
  --theme500: #808080;
  --theme550: #737373;
  --theme600: #666666;
  --theme650: #595959;
  --theme700: #4D4D4D;
  --theme750: #404040;
  --theme800: #333333;
  --theme850: #262626;
  --theme900: #1A1A1A;
  --theme950: #0D0D0D;
  --theme999: #000000;
  --transitionBg: background .2s ease
}
.dark-theme {
  --theme000: #000000;
  --theme010: #0D0D0D;
  --theme020: #1A1A1A;
  --theme030: #262626;
  --theme040: #333333;
  --theme050: #404040;
  --theme100: #4D4D4D;
  --theme150: #595959;
  --theme200: #666666;
  --theme250: #737373;
  --theme300: #808080;
  --theme350: #8C8C8C;
  --theme400: #999999;
  --theme450: #A6A6A6;
  --theme500: #B3B3B3;
  --theme550: #BFBFBF;
  --theme600: #CCCCCC;
  --theme650: #D9D9D9;
  --theme700: #E6E6E6;
  --theme750: #F2F2F2;
  --theme800: #F5F5F5;
  --theme850: #F7F7F7;
  --theme900: #FAFAFA;
  --theme950: #FDFDFD;
  --theme999: #ffffff
}
@font-face {
  font-family: Ubuntu;
  src: url(../fonts/ubuntu/Ubuntu-Light.eot);
  src: local("Ubuntu-Light"),url(../fonts/ubuntu/Ubuntu-Light.eot?#iefix) format("embedded-opentype"),url(../fonts/ubuntu/Ubuntu-Light.woff2) format("woff2"),url(../fonts/ubuntu/Ubuntu-Light.woff) format("woff"),url(../fonts/ubuntu/Ubuntu-Light.ttf) format("truetype"),url(../fonts/ubuntu/Ubuntu-Light.otf) format("opentype"),url(../fonts/ubuntu/Ubuntu-Light.svg) format("svg");
  font-weight: 300;
  font-style: normal;
  font-display: swap
}
@font-face {
  font-family: Ubuntu;
  src: url(../fonts/ubuntu/Ubuntu-Regular.eot);
  src: local("Ubuntu-Regular"),url(../fonts/ubuntu/Ubuntu-Regular.eot?#iefix) format("embedded-opentype"),url(../fonts/ubuntu/Ubuntu-Regular.woff2) format("woff2"),url(../fonts/ubuntu/Ubuntu-Regular.woff) format("woff"),url(../fonts/ubuntu/Ubuntu-Regular.ttf) format("truetype"),url(../fonts/ubuntu/Ubuntu-Regular.otf) format("opentype"),url(../fonts/ubuntu/Ubuntu-Regular.svg) format("svg");
  font-weight: 400;
  font-style: normal;
  font-display: swap
}
@font-face {
  font-family: Ubuntu;
  src: url(../fonts/ubuntu/Ubuntu-Medium.eot);
  src: local("Ubuntu-Medium"),url(../fonts/ubuntu/Ubuntu-Medium.eot?#iefix) format("embedded-opentype"),url(../fonts/ubuntu/Ubuntu-Medium.woff2) format("woff2"),url(../fonts/ubuntu/Ubuntu-Medium.woff) format("woff"),url(../fonts/ubuntu/Ubuntu-Medium.ttf) format("truetype"),url(../fonts/ubuntu/Ubuntu-Medium.otf) format("opentype"),url(../fonts/ubuntu/Ubuntu-Medium.svg) format("svg");
  font-weight: 500;
  font-style: normal;
  font-display: swap
}
@font-face {
  font-family: Ubuntu;
  src: url(../fonts/ubuntu/Ubuntu-Bold.eot);
  src: local("Ubuntu-Bold"),url(../fonts/ubuntu/Ubuntu-Bold.eot?#iefix) format("embedded-opentype"),url(../fonts/ubuntu/Ubuntu-Bold.woff2) format("woff2"),url(../fonts/ubuntu/Ubuntu-Bold.woff) format("woff"),url(../fonts/ubuntu/Ubuntu-Bold.ttf) format("truetype"),url(../fonts/ubuntu/Ubuntu-Bold.otf) format("opentype"),url(../fonts/ubuntu/Ubuntu-Bold.svg) format("svg");
  font-weight: 700;
  font-style: normal;
  font-display: swap
}
.svg-svg-burger,
.svg-svg-cart,
.svg-svg-chart,
.svg-svg-close,
.svg-svg-down,
.svg-svg-info,
.svg-svg-message,
.svg-svg-microphone,
.svg-svg-moon,
.svg-svg-music,
.svg-svg-news,
.svg-svg-next,
.svg-svg-notification,
.svg-svg-people,
.svg-svg-prev,
.svg-svg-routing,
.svg-svg-search,
.svg-svg-stop-circle,
.svg-svg-stream,
.svg-svg-sun,
.svg-svg-top,
.svg-svg-trend,
.svg-svg-video {
  background: url(../images/sprites/main.svg) no-repeat
}
.svg-svg-burger {
  background-position: 0 0;
  background-size: 500% auto;
  width: 26px
}
.svg-svg-burger:before {
  content: "";
  display: block;
  font-size: 0;
  line-height: 0;
  padding-top: 100%
}
.svg-svg-burger-dims {
  width: 26px;
  height: 26px
}
.svg-svg-cart {
  background-position: 25% 0;
  background-size: 500% auto;
  width: 26px
}
.svg-svg-cart:before {
  content: "";
  display: block;
  font-size: 0;
  line-height: 0;
  padding-top: 100%
}
.svg-svg-cart-dims {
  width: 26px;
  height: 26px
}
.svg-svg-chart {
  background-position: 0 26.5306122449%;
  background-size: 500% auto;
  width: 26px
}
.svg-svg-chart:before {
  content: "";
  display: block;
  font-size: 0;
  line-height: 0;
  padding-top: 100%
}
.svg-svg-chart-dims {
  width: 26px;
  height: 26px
}
.svg-svg-close {
  background-position: 25% 26.5306122449%;
  background-size: 500% auto;
  width: 26px
}
.svg-svg-close:before {
  content: "";
  display: block;
  font-size: 0;
  line-height: 0;
  padding-top: 100%
}
.svg-svg-close-dims {
  width: 26px;
  height: 26px
}
.svg-svg-down {
  background-position: 35.0877192982% 96.2962962963%;
  background-size: 812.5% auto;
  width: 16px
}
.svg-svg-down:before {
  content: "";
  display: block;
  font-size: 0;
  line-height: 0;
  padding-top: 100%
}
.svg-svg-down-dims {
  width: 16px;
  height: 16px
}
.svg-svg-info {
  background-position: 50% 0;
  background-size: 500% auto;
  width: 26px
}
.svg-svg-info:before {
  content: "";
  display: block;
  font-size: 0;
  line-height: 0;
  padding-top: 100%
}
.svg-svg-info-dims {
  width: 26px;
  height: 26px
}
.svg-svg-message {
  background-position: 50% 26.5306122449%;
  background-size: 500% auto;
  width: 26px
}
.svg-svg-message:before {
  content: "";
  display: block;
  font-size: 0;
  line-height: 0;
  padding-top: 100%
}
.svg-svg-message-dims {
  width: 26px;
  height: 26px
}
.svg-svg-microphone {
  background-position: 0 53.0612244898%;
  background-size: 500% auto;
  width: 26px
}
.svg-svg-microphone:before {
  content: "";
  display: block;
  font-size: 0;
  line-height: 0;
  padding-top: 100%
}
.svg-svg-microphone-dims {
  width: 26px;
  height: 26px
}
.svg-svg-moon {
  background-position: 96.2962962963% 25.4901960784%;
  background-size: 590.9090909091% auto;
  width: 22px
}
.svg-svg-moon:before {
  content: "";
  display: block;
  font-size: 0;
  line-height: 0;
  padding-top: 100%
}
.svg-svg-moon-dims {
  width: 22px;
  height: 22px
}
.svg-svg-music {
  background-position: 25% 53.0612244898%;
  background-size: 500% auto;
  width: 26px
}
.svg-svg-music:before {
  content: "";
  display: block;
  font-size: 0;
  line-height: 0;
  padding-top: 100%
}
.svg-svg-music-dims {
  width: 26px;
  height: 26px
}
.svg-svg-news {
  background-position: 50% 53.0612244898%;
  background-size: 500% auto;
  width: 26px
}
.svg-svg-news:before {
  content: "";
  display: block;
  font-size: 0;
  line-height: 0;
  padding-top: 100%
}
.svg-svg-news-dims {
  width: 26px;
  height: 26px
}
.svg-svg-next {
  background-position: 0 100%;
  background-size: 650% auto;
  width: 20px
}
.svg-svg-next:before {
  content: "";
  display: block;
  font-size: 0;
  line-height: 0;
  padding-top: 100%
}
.svg-svg-next-dims {
  width: 20px;
  height: 20px
}
.svg-svg-notification {
  background-position: 75% 0;
  background-size: 500% auto;
  width: 26px
}
.svg-svg-notification:before {
  content: "";
  display: block;
  font-size: 0;
  line-height: 0;
  padding-top: 100%
}
.svg-svg-notification-dims {
  width: 26px;
  height: 26px
}
.svg-svg-people {
  background-position: 75% 26.5306122449%;
  background-size: 500% auto;
  width: 26px
}
.svg-svg-people:before {
  content: "";
  display: block;
  font-size: 0;
  line-height: 0;
  padding-top: 100%
}
.svg-svg-people-dims {
  width: 26px;
  height: 26px
}
.svg-svg-prev {
  background-position: 18.1818181818% 100%;
  background-size: 650% auto;
  width: 20px
}
.svg-svg-prev:before {
  content: "";
  display: block;
  font-size: 0;
  line-height: 0;
  padding-top: 100%
}
.svg-svg-prev-dims {
  width: 20px;
  height: 20px
}
.svg-svg-routing {
  background-position: 75% 53.0612244898%;
  background-size: 500% auto;
  width: 26px
}
.svg-svg-routing:before {
  content: "";
  display: block;
  font-size: 0;
  line-height: 0;
  padding-top: 100%
}
.svg-svg-routing-dims {
  width: 26px;
  height: 26px
}
.svg-svg-search {
  background-position: 96.2962962963% 47.0588235294%;
  background-size: 590.9090909091% auto;
  width: 22px
}
.svg-svg-search:before {
  content: "";
  display: block;
  font-size: 0;
  line-height: 0;
  padding-top: 100%
}
.svg-svg-search-dims {
  width: 22px;
  height: 22px
}
.svg-svg-stop-circle {
  background-position: 0 79.5918367347%;
  background-size: 500% auto;
  width: 26px
}
.svg-svg-stop-circle:before {
  content: "";
  display: block;
  font-size: 0;
  line-height: 0;
  padding-top: 100%
}
.svg-svg-stop-circle-dims {
  width: 26px;
  height: 26px
}
.svg-svg-stream {
  background-position: 25% 79.5918367347%;
  background-size: 500% auto;
  width: 26px
}
.svg-svg-stream:before {
  content: "";
  display: block;
  font-size: 0;
  line-height: 0;
  padding-top: 100%
}
.svg-svg-stream-dims {
  width: 26px;
  height: 26px
}
.svg-svg-sun {
  background-position: 96.2962962963% 68.6274509804%;
  background-size: 590.9090909091% auto;
  width: 22px
}
.svg-svg-sun:before {
  content: "";
  display: block;
  font-size: 0;
  line-height: 0;
  padding-top: 100%
}
.svg-svg-sun-dims {
  width: 22px;
  height: 22px
}
.svg-svg-top {
  background-position: 50% 79.5918367347%;
  background-size: 500% auto;
  width: 26px
}
.svg-svg-top:before {
  content: "";
  display: block;
  font-size: 0;
  line-height: 0;
  padding-top: 100%
}
.svg-svg-top-dims {
  width: 26px;
  height: 26px
}
.svg-svg-trend {
  background-position: 75% 79.5918367347%;
  background-size: 500% auto;
  width: 26px
}
.svg-svg-trend:before {
  content: "";
  display: block;
  font-size: 0;
  line-height: 0;
  padding-top: 100%
}
.svg-svg-trend-dims {
  width: 26px;
  height: 26px
}
.svg-svg-video {
  background-position: 100% 0;
  background-size: 500% auto;
  width: 26px
}
.svg-svg-video:before {
  content: "";
  display: block;
  font-size: 0;
  line-height: 0;
  padding-top: 100%
}
.svg-svg-video-dims {
  width: 26px;
  height: 26px
}
.image-by-height {
  width: auto
}
.image-by-height:before {
  content: none
}
.image-by-height > svg {
  height: inherit
}
.image-by-height > img {
  height: inherit!important;
  vertical-align: top!important;
  margin: 0!important;
  padding: 0!important;
  max-width: none!important;
  max-height: none!important;
  border: 0!important;
  opacity: 0!important
}
html {
  box-sizing: border-box
}
*,
::after,
::before {
  box-sizing: border-box
}
.content-box-component {
  box-sizing: content-box
}
body {
  background: var(--theme000);
  font-family: Ubuntu,Helvetica,Arial,sans-serif;
  color: var(--theme999);
  width: 100%;
  height: 100%;
  min-height: 100vh;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden
}
body.no-scroll {
  overflow: hidden
}
.visually-hidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden
}
a {
  text-decoration: none;
  color: inherit
}
button {
  padding: 0;
  cursor: pointer;
  background: 0 0;
  border: none;
  color: inherit
}
ul {
  margin: 0;
  padding: 0;
  list-style: none
}
p {
  margin: 0
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0
}
img {
  display: block;
  max-width: 100%;
  height: auto
}
svg {
  max-width: 100%;
  max-height: 100%
}
picture {
  display: block
}
.wrapper {
  width: 100%;
  max-width: 100%;
  min-width: 320px;
  margin: 0 auto;
  padding-top: 70px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center
}
.page-wrapper {
  width: 100%;
  max-width: 1548px;
  margin: 0 auto;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column
}
.container {
  width: 100%;
  padding: 0 14px;
  margin: 0 auto
}
@media screen and (min-width:1024px) {
  .wrapper {
    padding-top: 84px
  }
  .container {
    padding: 0 28px
  }
}
@media screen and (min-width:1280px) {
  .wrapper {
    padding-left: 250px
  }
}
@media screen and (min-width:1440px) {
  .wrapper {
    padding-top: 104px
  }
  .container {
    padding: 0 50px
  }
}
@media screen and (min-width:1920px) {
  .wrapper {
    padding-top: 120px
  }
}
.uikit {
  padding: 25px;
  background: #999
}
.uikit-box {
  margin-bottom: 100px
}
.uikit-box:last-child {
  margin-bottom: 0
}
.uikit-box__title {
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 26px;
  line-height: 100%;
  text-transform: uppercase;
  color: var(--theme000)
}
.uikit-theme {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 20px;
  line-height: 120%;
  color: var(--theme999);
  text-transform: uppercase
}
.uikit-bl {
  width: 100%;
  max-width: 460px;
  margin-bottom: 20px;
  padding: 30px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  background: var(--theme000);
  box-shadow: 0 10px 15px rgba(0,0,0,.15);
  border-radius: 20px
}
.uikit-button {
  margin-bottom: 50px
}
.uikit-button:last-child {
  margin: 0
}
.uikit-title {
  display: block;
  margin-bottom: 10px;
  font-size: 13px;
  line-height: 15px;
  font-weight: 400;
  color: var(--theme300)
}
.btn {
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  min-width: 139px;
  min-height: 36px;
  padding: 2px 20px;
  text-align: center;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 100%;
  font-weight: 700;
  background: var(--accent);
  color: #fff;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  transition: background .2s ease,color .2s ease
}
.btn-high {
  min-height: 48px;
  padding: 4px 20px
}
.btn.btn-hovered,
.btn:focus:enabled,
.btn:hover:enabled {
  background: #cb1338
}
.btn.btn-actived,
.btn:active:enabled {
  background: #e81943;
  color: #fff
}
.btn-disabled,
.btn:disabled {
  background: rgba(232,25,67,.4);
  cursor: default
}
.btn-outline {
  color: var(--theme700);
  background: 0 0;
  border: 2px solid var(--accent)
}
.btn-outline .svg__icon {
  fill: var(--theme700)
}
.btn-outline.btn-hovered,
.btn-outline:focus:enabled,
.btn-outline:hover:enabled {
  color: var(--theme999);
  background: rgba(232,25,67,.15)
}
.btn-outline.btn-actived,
.btn-outline:active:enabled {
  background: var(--accent);
  color: #fff
}
.btn-outline.btn-disabled,
.btn-outline:disabled {
  color: var(--theme200);
  border: 2px solid rgba(232,25,67,.3);
  background: 0 0
}
.btn-secondary {
  background: var(--theme500);
  color: var(--theme000)
}
.btn-secondary.btn-hovered,
.btn-secondary:focus:enabled,
.btn-secondary:hover:enabled {
  background: var(--theme700)
}
.btn-secondary.btn-actived,
.btn-secondary:active:enabled {
  background: var(--theme500)
}
.btn-secondary.btn-disabled,
.btn-secondary:disabled {
  color: var(--theme350);
  background: var(--theme100)
}
.btn-right-icon {
  min-width: 173px;
  padding-left: 40px
}
.btn-right-icon .btn__svg {
  margin-left: 30px
}
.btn-left-icon {
  min-width: 173px;
  padding-right: 40px
}
.btn-left-icon .btn__svg {
  margin-right: 30px
}
.btn__svg {
  width: 24px;
  height: 24px;
  fill: currentColor
}
.btn-double-icon {
  min-width: 207px
}
.btn-double-icon .btn__text {
  margin: 0 30px
}
.btn-icon {
  min-width: 64px
}
@media screen and (min-width:1280px) {
  .uikit {
    padding: 50px
  }
  .uikit-bl {
    margin-bottom: 0;
    padding: 50px
  }
  .uikit-box__title {
    margin-bottom: 50px;
    font-size: 53px
  }
  .uikit-box__inner {
    width: 100%;
    max-width: 1000px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 50px
  }
  .uikit-theme {
    margin-bottom: 50px;
    font-size: 40px
  }
}
.svg-icon {
  display: block;
  width: 24px;
  min-width: 24px;
  height: 24px;
  fill: var(--theme700)
}
.title {
  font-weight: 700;
  font-size: 15px;
  line-height: 130%;
  text-transform: uppercase
}
.background-image {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
  border-radius: 10px;
  overflow: hidden
}
.background-image picture {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0
}
.background-image picture img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
  border-radius: 10px
}
.theme-img {
  display: none
}
.theme-img--visible {
  display: block
}
@media screen and (min-width:1024px) {
  .title {
    font-size: 22px;
    line-height: 100%
  }
}
@media screen and (min-width:1366px) {
  .title {
    font-size: 30px
  }
}
.header {
  padding: 10px 0;
  border-bottom: 1px solid var(--theme040);
  background: var(--theme000);
  position: fixed;
  z-index: 90;
  top: 0;
  left: 0;
  right: 0
}
.header__inner {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center
}
.header__burger {
  width: 24px;
  height: 24px;
  margin-right: 14px
}
.header__burger .svg-icon {
  width: 100%;
  height: auto
}
.header__logo {
  margin-right: auto
}
.header__logo img {
  width: 100%
}
.header__time {
  margin-right: 5px
}
.header__time-toggle {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  width: 30px;
  height: 30px
}
.header__time svg {
  width: 20px;
  height: 20px;
  fill: var(--theme700)
}
.header__search {
  display: none
}
.header__search-field {
  display: none;
  background: var(--theme030);
  border: none;
  border-radius: 10px;
  font-size: 14px;
  line-height: 100%;
  color: var(--theme999)
}
.header__search-field::-webkit-input-placeholder {
  color: var(--theme400)
}
.header__search-field::-moz-placeholder {
  color: var(--theme400)
}
.header__search-field:-ms-input-placeholder {
  color: var(--theme400)
}
.header__search-field::placeholder {
  color: var(--theme400)
}
.header__search-btn {
  display: block;
  width: 20px;
  height: 20px
}
.header__search-micro {
  display: none
}
.header__manage {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex
}
.header__user {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-left: 5px
}
.header__user a {
  margin-left: 12px
}
.header__user a:first-child {
  margin-left: 0
}
.header__user-cab {
  display: block;
  width: 30px;
  height: 30px
}
.header__user-cab img {
  width: 100%;
  border-radius: 50%
}
.header__btn {
  width: 30px;
  min-width: 30px;
  height: 30px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center
}
.header__hide {
  display: none
}
@media screen and (min-width:768px) {
  .header__logo {
    margin-right: auto
  }
  .header__time {
    margin-left: 26px;
    display: block
  }
  .header__search {
    margin: 0 auto;
    margin-left: 32px;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1
  }
  .header__search-field {
    display: block;
    height: 34px;
    padding: 8px 12px;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1
  }
  .header__search-btn {
    display: none
  }
  .header__search-micro {
    width: 38px;
    margin-left: 12px;
    background: var(--theme030);
    border-radius: 10px;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center
  }
  .header__search-micro .svg-icon {
    fill: var(--theme500)
  }
  .header__manage {
    margin-left: 10px
  }
  .header__manage a {
    margin-left: 14px
  }
  .header__manage a:first-child {
    margin-left: 0
  }
  .header__hide {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex
  }
  .header__user {
    margin-left: 26px
  }
  .header__cart {
    margin-left: 20px
  }
}
@media screen and (min-width:1024px) {
  .header {
    padding: 12px 0;
    min-height: 64px;
    border-bottom: 0
  }
  .header__inner {
    padding: 0 32px
  }
  .header__burger {
    width: 26px;
    height: 26px;
    margin-right: 30px
  }
  .header__logo {
    width: 170px
  }
  .header__search {
    margin-right: 12px
  }
  .header__search-field {
    padding: 13px 16px;
    height: 40px
  }
  .header__search-micro {
    width: 48px
  }
  .header__user-cab {
    width: 36px;
    height: 36px
  }
}
@media screen and (min-width:1280px) {
  .header {
    left: 250px
  }
  .header__logo {
    display: none
  }
  .header__search {
    margin-left: 0
  }
}
.main {
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1
}
.listen {
  padding: 0 14px 20px
}
.listen__inner {
  min-height: 213px;
  padding: 18px 16px 20px;
  color: #fff;
  position: relative;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column
}
.listen__title {
  width: 100%;
  max-width: 292px;
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 22px;
  line-height: 110%;
  text-transform: uppercase
}
.listen__text {
  width: 100%;
  max-width: 200px;
  margin-bottom: 15px;
  font-weight: 300;
  font-size: 11px;
  line-height: 130%
}
.listen__search {
  width: 100%;
  max-width: 650px;
  margin-top: auto;
  position: relative
}
.listen__search-field {
  width: 100%;
  height: 48px;
  padding: 17px 20px;
  padding-right: 65px;
  background: #fff;
  color: #000;
  border-radius: 40px;
  border: none;
  font-weight: 300;
  font-size: 11px
}
.listen__search-field::-webkit-input-placeholder {
  color: #999
}
.listen__search-field::-moz-placeholder {
  color: #999
}
.listen__search-field:-ms-input-placeholder {
  color: #999
}
.listen__search-field::placeholder {
  color: #999
}
.listen__search-btn {
  width: 40px;
  height: 40px;
  background: var(--accent);
  border-radius: 50%;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  position: absolute;
  right: 5px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%)
}
.listen__search-btn svg {
  width: 20px;
  height: 20px;
  fill: #fff
}
.listen__search-btn__text {
  display: none
}
.listen__search-icon {
  display: none
}
@media screen and (min-width:768px) {
  .listen__title {
    max-width: 100%
  }
  .listen__text {
    max-width: 100%
  }
  .listen__search-field {
    padding-left: 50px
  }
  .listen__search-btn {
    width: auto;
    min-width: 150px;
    height: auto;
    min-height: 46px;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    border-radius: 60px;
    right: 1px;
    font-weight: 500;
    font-size: 18px;
    line-height: 100%
  }
  .listen__search-btn__icon {
    display: none
  }
  .listen__search-btn__text {
    display: block
  }
  .listen__search-icon {
    display: block;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    left: 16px;
    fill: #4d4d4d
  }
}
@media screen and (min-width:1024px) {
  .listen {
    margin-bottom: 30px;
    padding: 0 28px
  }
  .listen__inner {
    min-height: 276px;
    padding: 48px 48px 56px
  }
  .listen__title {
    margin-bottom: 14px;
    font-size: 30px
  }
  .listen__text {
    font-weight: 300;
    font-size: 16px
  }
  .listen__search-field {
    padding-left: 75px;
    height: 70px;
    font-size: 16px
  }
  .listen__search-btn {
    right: 15px
  }
  .listen__search-icon {
    width: 27px;
    height: 27px;
    left: 30px
  }
}
@media screen and (min-width:1366px) {
  .listen {
    margin-bottom: 40px
  }
  .listen__inner {
    min-height: 400px;
    padding: 67px 76px
  }
  .listen__title {
    width: 100%;
    max-width: 700px;
    margin-bottom: 25px;
    font-size: 50px;
    line-height: 100%
  }
  .listen__text {
    font-size: 18px
  }
  .listen__search-field {
    font-size: 18px
  }
}
@media screen and (min-width:1440px) {
  .listen {
    padding: 0 50px
  }
}
@media screen and (min-width:1920px) {
  .listen {
    margin-bottom: 50px
  }
  .listen__inner {
    min-height: 500px;
    padding: 77px 77px 90px
  }
  .listen__title {
    max-width: 860px;
    font-size: 70px
  }
  .listen__text {
    font-size: 20px
  }
  .listen__search {
    max-width: 1000px
  }
}
.features {
  margin-bottom: 6px
}
.features__list {
  padding-bottom: 20px;
  padding-left: 14px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow-x: auto;
  -ms-overflow-style: none;
  overflow: -moz-scrollbars-none
}
.features__list::-webkit-scrollbar {
  width: 0;
  height: 0
}
.features__item {
  width: 169px;
  min-width: 169px;
  padding: 13px 15px 10px;
  margin-right: 12px;
  background: var(--theme010);
  box-shadow: 0 5px 20px rgba(0,0,0,.1);
  border-radius: 10px
}
.features__title {
  margin-bottom: 10px;
  padding-bottom: 13px;
  font-weight: 700;
  font-size: 12px;
  line-height: 120%;
  text-transform: uppercase;
  position: relative
}
.features__title::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 30px;
  height: 3px;
  background: var(--accent);
  border-radius: 10px
}
.features__text {
  font-weight: 300;
  font-size: 11px;
  line-height: 130%
}
@media screen and (min-width:768px) {
  .features__list {
    padding: 0 14px 20px
  }
  .features__item {
    width: calc(25% - 9px);
    margin-right: 12px
  }
  .features__item:nth-child(4n) {
    margin-right: 0
  }
}
@media screen and (min-width:1024px) {
  .features {
    margin-bottom: 36px
  }
  .features__list {
    padding: 0 28px;
    overflow-x: visible;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap
  }
  .features__item {
    width: calc(25% - 12px);
    padding: 15px;
    margin-right: 16px
  }
  .features__title {
    margin-bottom: 20px;
    padding-bottom: 15px;
    font-size: 14px
  }
  .features__title::after {
    height: 5px
  }
  .features__text {
    font-size: 12px
  }
}
@media screen and (min-width:1366px) {
  .features {
    margin-bottom: 40px
  }
  .features__item {
    padding: 25px
  }
  .features__title {
    font-size: 20px
  }
  .features__text {
    font-size: 14px
  }
}
@media screen and (min-width:1440px) {
  .features__list {
    padding: 0 50px
  }
}
@media screen and (min-width:1920px) {
  .features {
    margin-bottom: 50px
  }
}
.manage {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center
}
.manage__period {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow-x: auto;
  -ms-overflow-style: none;
  overflow: -moz-scrollbars-none
}
.manage__period::-webkit-scrollbar {
  width: 0;
  height: 0
}
.manage__period a {
  margin-right: 10px;
  padding: 5px 20px;
  background: 0 0;
  border-radius: 10px;
  text-align: center;
  font-weight: 300;
  font-size: 12px;
  line-height: 130%
}
.manage__period a.manage__period--active {
  background: var(--accent);
  color: #fff;
  font-weight: 500
}
.manage__more {
  display: none;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center
}
.manage__more-tracks {
  min-width: 202px;
  padding: 8px 36px;
  min-height: 36px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  font-weight: 300;
  font-size: 14px;
  line-height: 130%;
  text-align: center;
  border: 1px solid #e6e6e6;
  border-radius: 10px
}
.manage__more-btns {
  margin-left: 24px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center
}
.manage__more-arrow {
  width: 36px;
  height: 36px;
  margin-left: 12px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border: 1px solid #e6e6e6;
  border-radius: 10px
}
.manage__more-arrow:first-child {
  margin-left: 0
}
.manage__more-arrow svg {
  width: 18px;
  height: 18px;
  fill: var(--theme700)
}
@media screen and (min-width:768px) {
  .manage__period {
    overflow-x: visible;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap
  }
  .manage__more {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex
  }
}
@media screen and (min-width:1024px) {
  .manage__period a {
    font-size: 13px
  }
  .manage__more-tracks {
    min-height: 42px
  }
  .manage__more-arrow {
    width: 42px;
    height: 42px
  }
}
@media screen and (min-width:1366px) {
  .manage__period a {
    font-size: 14px
  }
}
.best {
  margin-bottom: 12px
}
.best__header {
  margin-bottom: 12px;
  padding: 0 14px
}
.best__title {
  margin-bottom: 13px
}
.best__slider {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow-x: auto;
  -ms-overflow-style: none;
  overflow: -moz-scrollbars-none
}
.best__slider::-webkit-scrollbar {
  width: 0;
  height: 0
}
.best__more {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: calc(100% - 28px);
  margin: 0 auto
}
@media screen and (min-width:768px) {
  .best__more {
    display: none
  }
}
@media screen and (min-width:1024px) {
  .best {
    margin-bottom: 20px
  }
  .best__header {
    padding: 0 28px
  }
  .best-playlist {
    margin-bottom: 15px
  }
  .best__slider {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    overflow-x: visible
  }
}
@media screen and (min-width:1440px) {
  .best {
    margin-bottom: 27px
  }
  .best-authors {
    margin-bottom: 95px
  }
  .best__header {
    padding: 0 50px
  }
}
@media screen and (min-width:1920px) {
  .best {
    margin-bottom: 50px
  }
  .best-playlist {
    margin-bottom: 38px
  }
}
.tracks__list {
  padding-left: 14px
}
.tracks__item {
  display: block;
  width: 126px;
  min-width: 126px;
  margin-right: 12px;
  margin-bottom: 12px;
  padding: 9px;
  border: 1px solid var(--theme040);
  border-radius: 10px;
  cursor: pointer;
  background: var(--theme010)
}
.tracks__item--hide {
  display: none
}
.tracks__poster {
  margin-bottom: 8px
}
.tracks__poster img {
  display: block;
  margin: 0 auto;
  width: 100%;
  height: auto;
  border-radius: 10px
}
.tracks__title {
  margin-bottom: 8px;
  font-weight: 400;
  font-size: 11px;
  line-height: 120%;
  color: var(--theme900)
}
.tracks__author {
  margin-bottom: 8px;
  font-size: 10px;
  line-height: 100%;
  color: grey
}
.tracks__about {
  font-weight: 400;
  font-size: 10px;
  line-height: 100%;
  color: #b3b3b3
}
.tracks__about-rate {
  margin-left: 3px;
  font-weight: 700;
  color: var(--accent)
}
@media screen and (min-width:1024px) {
  .tracks__list {
    padding: 0 28px
  }
  .tracks__item {
    width: calc(20% - 12px);
    padding: 14px;
    margin-right: 15px;
    border: none;
    background: var(--theme010)
  }
  .tracks__item:nth-child(5n) {
    margin-right: 0
  }
  .tracks__poster {
    margin-bottom: 12px
  }
  .tracks__title {
    margin-bottom: 12px;
    font-size: 12px
  }
  .tracks__author {
    margin-bottom: 12px;
    font-size: 11px
  }
  .tracks__about {
    font-size: 11px
  }
  .tracks__about-rate {
    margin-left: 9px
  }
}
@media screen and (min-width:1366px) {
  .tracks__title {
    font-size: 13px
  }
  .tracks__author {
    font-size: 12px
  }
  .tracks__about {
    font-size: 12px
  }
}
@media screen and (min-width:1440px) {
  .tracks__list {
    padding: 0 50px
  }
  .tracks__item {
    padding: 18px
  }
}
@media screen and (min-width:1920px) {
  .tracks__list {
    display: grid;
    grid-template-columns: repeat(6,1fr);
    grid-gap: 16px
  }
  .tracks__item {
    width: auto;
    margin: 0
  }
  .tracks__item--hide {
    display: block
  }
}
.playlist__list {
  padding-left: 14px
}
.playlist__item {
  width: 216px;
  min-width: 216px;
  margin-right: 12px;
  margin-bottom: 12px;
  padding: 12px;
  border: 1px solid var(--theme040);
  border-radius: 10px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  cursor: pointer;
  background: var(--theme010)
}
.playlist__poster {
  width: 72px;
  min-width: 72px;
  margin-right: 8px
}
.playlist__poster img {
  display: block;
  margin: 0 auto;
  width: 100%;
  height: auto;
  border-radius: 10px
}
.playlist__col {
  margin-bottom: 8px
}
.playlist__col:last-child {
  margin-bottom: 0
}
.playlist__name {
  margin-bottom: 6px;
  font-size: 12px;
  font-weight: 400;
  line-height: 100%;
  color: var(--theme900)
}
.playlist__author {
  font-size: 10px;
  font-weight: 400;
  line-height: 100%;
  color: var(--theme500)
}
.playlist__type {
  margin-bottom: 6px;
  font-weight: 400;
  font-size: 11px;
  line-height: 100%;
  color: var(--theme500)
}
.playlist__num {
  font-weight: 500;
  font-size: 11px;
  line-height: 120%
}
@media screen and (min-width:768px) {
  .playlist__list {
    padding: 0 14px;
    overflow-x: visible
  }
  .playlist__item {
    width: calc(33.33% - 11px);
    max-width: calc(33.33% - 11px);
    margin-right: 16px;
    margin-bottom: 16px
  }
  .playlist__item:nth-child(3n) {
    margin-right: 0
  }
}
@media screen and (min-width:1024px) {
  .playlist__list {
    padding: 0 28px
  }
  .playlist__item {
    padding: 15px;
    background: var(--theme010);
    border: none;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center
  }
  .playlist__poster {
    width: 122px;
    height: 122px;
    margin-right: 18px
  }
  .playlist__col {
    margin-bottom: 12px
  }
  .playlist__name {
    margin-bottom: 12px;
    font-size: 16px
  }
  .playlist__author {
    font-size: 11px
  }
  .playlist__type {
    margin-bottom: 6px;
    font-size: 12px
  }
  .playlist__num {
    font-size: 12px
  }
}
@media screen and (min-width:1366px) {
  .playlist__item {
    padding: 18px
  }
  .playlist__col {
    margin-bottom: 16px
  }
  .playlist__poster {
    width: 160px;
    height: 160px
  }
  .playlist__name {
    font-size: 18px
  }
  .playlist__author {
    font-size: 12px
  }
  .playlist__type {
    font-size: 14px
  }
  .playlist__num {
    font-size: 14px
  }
}
@media screen and (min-width:1440px) {
  .playlist__list {
    padding: 0 50px
  }
}
@media screen and (min-width:1920px) {
  .playlist__item {
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start
  }
  .playlist__poster {
    width: 174px;
    height: 174px;
    margin-right: 20px
  }
  .playlist__info {
    padding-top: 4px
  }
}
.spin {
  margin-bottom: 26px;
  color: #fff
}
.spin__inner {
  min-height: 173px;
  padding: 20px 22px 22px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  position: relative
}
.spin__title {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 20px;
  line-height: 110%;
  text-transform: uppercase
}
.spin__text {
  width: 100%;
  max-width: 230px;
  margin-bottom: 17px;
  font-weight: 300;
  font-size: 14px;
  line-height: 130%
}
.spin__btn {
  min-width: 215px;
  min-height: 39px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 11px 11px 10px;
  margin-top: auto;
  font-size: 14px;
  line-height: 100%
}
@media screen and (min-width:768px) {
  .spin__title br {
    display: none
  }
  .spin__text {
    max-width: 100%
  }
}
@media screen and (min-width:1024px) {
  .spin {
    margin-bottom: 32px
  }
  .spin__inner {
    min-height: 230px;
    padding: 50px 50px 42px
  }
  .spin__title {
    font-size: 30px
  }
  .spin__text {
    font-size: 16px
  }
}
@media screen and (min-width:1366px) {
  .spin__inner {
    min-height: 269px;
    padding: 48px 56px 54px
  }
  .spin__title {
    margin-bottom: 20px;
    font-size: 40px
  }
  .spin__text {
    font-size: 20px
  }
}
@media screen and (min-width:1440px) {
  .spin {
    margin-bottom: 38px
  }
}
@media screen and (min-width:1920px) {
  .spin {
    margin-bottom: 48px
  }
  .spin__inner {
    min-height: 340px;
    padding: 70px 76px 73px
  }
  .spin__title {
    margin-bottom: 12px
  }
}
.author__list {
  padding-left: 14px
}
.author__item {
  display: block;
  width: 126px;
  min-width: 126px;
  padding: 9px 10px;
  margin-right: 12px;
  margin-bottom: 12px;
  border: 1px solid var(--theme040);
  border-radius: 10px;
  cursor: pointer;
  background: var(--theme010)
}
.author__item--hide {
  display: none
}
.author__photo {
  margin: 0 auto;
  margin-bottom: 8px;
  border-radius: 50%;
  overflow: hidden
}
.author__photo img {
  display: block;
  margin: 0 auto;
  width: 100%;
  border-radius: 50%
}
.author__name {
  margin-bottom: 8px;
  font-weight: 400;
  font-size: 12px;
  line-height: 120%;
  color: var(--theme900)
}
.author__about {
  font-weight: 400;
  font-size: 11px;
  line-height: 100%;
  color: var(--theme500)
}
@media screen and (min-width:1024px) {
  .author {
    margin-top: 14px
  }
  .author__list {
    padding: 0 28px
  }
  .author__item {
    width: calc(20% - 12px);
    margin-right: 15px;
    padding: 18px;
    border: none;
    background: var(--theme010)
  }
  .author__item:nth-child(5n) {
    margin-right: 0
  }
  .author__photo {
    margin-bottom: 12px
  }
  .author__name {
    margin-bottom: 12px
  }
}
@media screen and (min-width:1366px) {
  .author__photo {
    margin-bottom: 18px
  }
  .author__name {
    margin-bottom: 18px;
    font-size: 13px
  }
  .author__about {
    font-size: 14px
  }
}
@media screen and (min-width:1440px) {
  .author__list {
    padding: 0 50px;
    display: grid;
    grid-template-columns: repeat(6,1fr);
    grid-gap: 16px
  }
  .author__item {
    width: 168px;
    margin: 0;
    width: auto
  }
  .author__item:nth-child(5n) {
    margin-right: 0
  }
  .author__item:nth-child(6n) {
    margin-right: 0
  }
  .author__item--hide {
    display: block
  }
}
.rate {
  margin-bottom: 20px;
  color: #fff
}
.rate__item {
  margin-bottom: 14px
}
.rate__inner {
  padding: 24px;
  padding-right: 18px;
  position: relative;
  border-radius: 10px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start
}
.rate__title {
  margin-bottom: 15px;
  font-weight: 700;
  font-size: 17px;
  line-height: 100%;
  text-transform: uppercase
}
.rate__list {
  margin-bottom: 22px;
  font-weight: 500;
  font-size: 11px;
  line-height: 120%
}
.rate__list li {
  margin-bottom: 11px
}
.rate__btn {
  min-width: 215px;
  margin-top: auto
}
@media screen and (min-width:768px) {
  .rate {
    padding: 0 14px;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between
  }
  .rate__item {
    width: calc(50% - 10px);
    margin: 0;
    padding: 0
  }
}
@media screen and (min-width:1024px) {
  .rate {
    margin-top: 33px;
    margin-bottom: 32px;
    padding: 0 28px
  }
  .rate__inner {
    min-height: 370px;
    padding: 40px 36px 36px
  }
  .rate__item {
    width: calc(50% - 7px)
  }
  .rate__title {
    margin-bottom: 24px;
    font-size: 27px
  }
  .rate__list {
    width: 100%;
    max-width: 320px;
    font-size: 12px
  }
}
@media screen and (min-width:1366px) {
  .rate__item {
    width: calc(50% - 9px)
  }
  .rate__inner {
    min-height: 420px;
    padding: 53px 50px 42px
  }
  .rate__title {
    margin-bottom: 27px;
    font-size: 30px
  }
  .rate__list {
    font-size: 13px
  }
}
@media screen and (min-width:1440px) {
  .rate {
    margin-bottom: 40px;
    padding: 0 50px
  }
}
@media screen and (min-width:1920px) {
  .rate {
    margin-bottom: 50px
  }
  .rate__inner {
    min-height: 469px;
    padding-bottom: 60px
  }
}
.footer {
  padding-bottom: 24px
}
.footer__text {
  margin-bottom: 23px;
  font-weight: 300;
  font-size: 10px;
  line-height: 160%;
  color: var(--theme500)
}
.footer__menu {
  margin-bottom: 25px
}
.footer__menu-col {
  width: 100%;
  max-width: 350px;
  margin-bottom: 18px
}
.footer__menu-title {
  margin-bottom: 14px;
  font-weight: 700;
  font-size: 14px;
  line-height: 120%;
  text-transform: uppercase
}
.footer__menu-list {
  display: grid;
  grid-template-columns: 1fr 1fr
}
.footer__menu-list li {
  margin-bottom: 8px;
  font-size: 11px;
  line-height: 120%;
  color: var(--theme600);
  opacity: .4
}
.footer__stats {
  width: 100%;
  max-width: 350px;
  margin-bottom: 8px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap
}
.footer__stats li {
  margin-bottom: 20px
}
.footer__stats li:nth-child(odd) {
  margin-right: 50px
}
.footer__stats-num {
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 24px;
  line-height: 100%;
  text-transform: uppercase
}
.footer__stats-title {
  font-weight: 400;
  font-size: 12px;
  line-height: 100%;
  color: var(--theme600);
  opacity: .4
}
.footer__app {
  width: 100%;
  max-width: 500px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap
}
.footer__app li {
  width: calc(50% - 6px);
  margin-bottom: 10px;
  margin-right: 10px;
  max-width: 200px
}
.footer__app li:nth-child(2n) {
  margin-right: 0
}
.footer__app a {
  display: block
}
.footer__app img {
  width: 100%;
  height: auto
}
@media screen and (min-width:768px) {
  .footer__menu {
    margin-bottom: 0;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap
  }
  .footer__stats {
    max-width: 100%;
    margin-bottom: 0
  }
  .footer__stats li {
    margin-right: 50px
  }
  .footer__app li {
    width: 148px;
    max-width: 148px
  }
  .footer__app li:nth-child(2n) {
    margin-right: 10px
  }
}
@media screen and (min-width:1024px) {
  .footer__text {
    font-size: 16px;
    margin-bottom: 38px
  }
  .footer__menu {
    margin-bottom: 20px
  }
  .footer__menu-col {
    max-width: 330px;
    margin-right: 20px
  }
  .footer__menu-title {
    margin-bottom: 26px;
    font-size: 18px
  }
  .footer__menu-list li {
    font-size: 13px
  }
  .footer__stats {
    margin-bottom: 22px
  }
  .footer__stats li:nth-child(odd) {
    margin-right: 70px
  }
  .footer__stats li:nth-child(2) {
    -webkit-order: 1;
    -ms-flex-order: 1;
    order: 1
  }
  .footer__stats-num {
    font-size: 38px
  }
  .footer__app {
    max-width: 100%
  }
  .footer__app li {
    margin-right: 20px
  }
  .footer__app li:nth-child(2n) {
    margin-right: 20px
  }
}
@media screen and (min-width:1440px) {
  .footer__text {
    margin-bottom: 48px;
    font-size: 18px
  }
  .footer__menu {
    margin-bottom: 28px
  }
  .footer__menu-list li {
    margin-bottom: 9px
  }
  .footer__stats {
    margin-bottom: 30px
  }
  .footer__app li {
    width: 150px;
    max-width: none;
    margin-right: 17px
  }
}
.menu {
  padding-bottom: 10px;
  position: fixed;
  z-index: 100;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: var(--theme000);
  display: none;
  overflow-y: auto
}
.menu.menu--active {
  display: block
}
.menu__header {
  padding: 8px 14px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-bottom: 1px solid var(--theme040)
}
.menu__close {
  margin-right: 14px
}
.menu__search {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1
}
.menu__search-field {
  padding: 12px 16px;
  height: 35px;
  background: var(--theme030);
  border-radius: 10px;
  border: none;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  margin-right: 5px;
  font-size: 11px;
  line-height: 100%
}
.menu__search-field::-webkit-input-placeholder {
  color: var(--theme400)
}
.menu__search-field::-moz-placeholder {
  color: var(--theme400)
}
.menu__search-field:-ms-input-placeholder {
  color: var(--theme400)
}
.menu__search-field::placeholder {
  color: var(--theme400)
}
.menu__search-micro {
  width: 40px;
  min-width: 40px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background: var(--theme030);
  border-radius: 10px
}
.menu__search-micro .svg-icon {
  width: 16px;
  height: 16px
}
.menu__logo {
  display: none
}
.menu__logo-link img {
  margin: 0 auto
}
.menu__top {
  padding: 20px 14px
}
.menu__top a {
  font-weight: 500
}
.menu__bottom {
  padding: 0 14px;
  margin-bottom: 20px
}
.menu__item {
  margin-bottom: 6px
}
.menu__item:last-child {
  margin-bottom: 0
}
.menu__item-main__sub {
  margin-bottom: 20px
}
.menu__box {
  position: relative
}
.menu__box--active {
  background: var(--accent);
  color: #fff
}
.menu__box--active .svg-icon {
  fill: #fff
}
.menu__box--active .menu__link-arrow {
  background: #fff;
  box-shadow: 0 4px 5px rgba(0,0,0,.2)
}
.menu__box--active .menu__link-arrow svg {
  fill: var(--accent);
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg)
}
.menu__link {
  padding: 12px 17px;
  padding-right: 64px;
  min-height: 48px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  color: var(--theme800);
  font-size: 13px;
  line-height: 100%;
  font-weight: 300;
  border-radius: 10px;
  background: var(--theme030);
  white-space: nowrap
}
.menu__link .svg-icon {
  margin-right: 16px;
  fill: var(--theme800)
}
.menu__link-text {
  margin-right: 10px
}
.menu__link-genres {
  padding: 16px 17px;
  color: var(--accent);
  font-weight: 700;
  font-size: 16px;
  border: 2px solid var(--accent);
  background: 0 0
}
.menu__link-genres .svg-icon {
  fill: var(--accent)
}
.menu__link-genres--active {
  background: var(--accent);
  color: #fff
}
.menu__link-genres--active .svg-icon {
  fill: #fff
}
.menu__link-arrow {
  margin-left: auto;
  width: 30px;
  height: 30px;
  background: var(--accent);
  box-shadow: 0 4px 5px rgba(232,25,67,.2);
  border-radius: 10px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  position: absolute;
  right: 17px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%)
}
.menu__link-arrow svg {
  width: 14px;
  height: 14px;
  fill: #fff
}
.menu__link-arrow--active {
  background: #fff
}
.menu__link-arrow--active svg {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
  fill: var(--accent)
}
.menu__submenu {
  margin-top: 4px;
  display: none
}
.menu__submenu--active {
  display: block
}
.menu__submenu .menu__link {
  min-height: 46px;
  padding: 7px 16px;
  font-weight: 400;
  background: 0 0;
  border: 1px solid var(--theme100)
}
.menu__submenu .menu__link-arrow {
  border: 1px solid var(--theme200);
  background: var(--theme000);
  box-shadow: none
}
.menu__submenu .menu__link-arrow svg {
  fill: var(--theme800)
}
.menu__submenu-item {
  margin-bottom: 4px
}
.menu__submenu-item .menu__link--active {
  background: var(--theme400);
  font-weight: 700;
  color: #fff
}
.menu__submenu-item .menu__link--active .menu__link-arrow {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
  border-color: transparent
}
.menu__submenu-item:last-child {
  margin-bottom: 0
}
.menu__submenu-item__submenu {
  margin-top: 4px;
  margin-bottom: 14px
}
.menu__submenu-item__submenu .menu__link {
  background: var(--theme050);
  border-color: var(--theme050)
}
.menu .footer {
  padding-bottom: 0
}
@media screen and (min-width:768px) {
  .menu {
    max-width: 250px
  }
  .menu .footer {
    display: none
  }
}
@media screen and (min-width:1280px) {
  .menu {
    padding: 20px 0;
    display: block
  }
  .menu::after {
    content: "";
    position: absolute;
    z-index: -1;
    right: 0;
    top: 0;
    bottom: 0;
    width: 1px;
    background: var(--theme040)
  }
  .menu__header {
    display: none
  }
  .menu__logo {
    margin-bottom: 50px;
    display: block
  }
  .menu__top {
    margin-bottom: 20px;
    padding: 0
  }
  .menu__bottom {
    margin-bottom: 20px;
    padding: 0
  }
  .menu__item {
    margin-bottom: 10px
  }
  .menu__item:last-child {
    margin-bottom: 0
  }
  .menu__link {
    padding: 7px 45px;
    min-height: 38px;
    background: 0 0
  }
  .menu__link-arrow {
    display: none
  }
  .menu__link-genres {
    font-size: 13px;
    line-height: 15px;
    color: var(--theme800);
    border: none
  }
  .menu__link-genres .svg-icon {
    fill: var(--theme800)
  }
  .menu__submenu {
    padding: 25px 0;
    overflow-y: auto;
    z-index: 10;
    width: 250px;
    height: 100vh;
    position: fixed;
    left: 250px;
    top: 0;
    background: var(--theme020);
    text-transform: uppercase
  }
  .menu__submenu-item {
    margin-bottom: 7px;
    padding: 0 25px
  }
  .menu__submenu-item__submenu {
    z-index: 8;
    background: var(--theme040);
    text-transform: none;
    -webkit-transform: translateX(0);
    transform: translateX(0)
  }
  .menu__submenu .menu__link {
    min-height: 36px;
    background: 0 0;
    border: none;
    font-size: 12px;
    line-height: 14px;
    position: relative
  }
  .menu__submenu .menu__link::after {
    content: "";
    position: absolute;
    right: 16px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 16px;
    height: 16px;
    -webkit-mask-image: url(../images/icons/arrow-right.svg);
    mask-image: url(../images/icons/arrow-right.svg);
    background-color: var(--theme800)
  }
  .menu__item:focus > .menu__submenu,
  .menu__item:hover > .menu__submenu {
    display: block
  }
  .menu__submenu-item__submenu .menu__link::after {
    display: none
  }
  .menu__submenu-item:focus > .menu__box > .menu__link,
  .menu__submenu-item:hover > .menu__box > .menu__link {
    background: var(--accent);
    color: #fff
  }
  .menu__submenu-item:focus > .menu__box > .menu__link::after,
  .menu__submenu-item:hover > .menu__box > .menu__link::after {
    background: #fff
  }
  .menu__submenu-item:focus > .menu__link,
  .menu__submenu-item:hover > .menu__link {
    background: var(--accent);
    color: #fff
  }
  .menu__submenu-item:focus > .menu__submenu,
  .menu__submenu-item:hover > .menu__submenu {
    display: block;
    -webkit-transform: translateX(250px);
    transform: translateX(250px)
  }
}
/*# sourceMappingURL=maps/main.css.map */
