footer.footer
   .footer__inner.container
      p.footer__text.
         Mixupload is the best website for djs not only in Russia, but perhaps in the whole world. We are like the best dj services has a catalog of several tracks by subscription. Some of the tracks are totally free while premium tracks are available with subscription.
      .footer__menu
         .footer__menu-col
            h2.footer__menu-title Support
            ul.footer__menu-list
               li
                  a(href="#") Support
               li
                  a(href="#") Privacy Policy
               li
                  a(href="#") User agreement
               li
                  a(href="#") DMCA
               li
                  a(href="#") Payment Subscription
               li
                  a(href="#") MixUpload
         .footer__menu-col
            h2.footer__menu-title Work with us
            ul.footer__menu-list
               li
                  a(href="#") Plans & Pricing
               li
                  a(href="#") Upload a track
               li
                  a(href="#") Monetize my music
               li
                  a(href="#") Distribution service
               li
                  a(href="#") Music promotion
      ul.footer__stats
         li
            p.footer__stats-num $158,970
            p.footer__stats-title Royalties paid
         li
            p.footer__stats-num 2,695,891
            p.footer__stats-title Tracks available
         li
            p.footer__stats-num 651,552
            p.footer__stats-title Users
      ul.footer__app
         li
            a(href="#")
               img(src="images/icons/appstore.svg", alt="appstore" width="140" height="41")
         li
            a(href="#")
               img(src="images/icons/appgallery.svg", alt="appgallery" width="140" height="41")
         li
            a(href="#")
               img(src="images/icons/googleplay.svg", alt="googleplay" width="140" height="41")
      

