.menu
   .menu__logo
      a.menu__logo-link(href="#")
         img.theme-img.theme-img--visible(src="images/icons/menu-logo-light.svg", alt="logo" width="170" height="120")
         img.theme-img(src="images/icons/menu-logo-dark.svg", alt="logo" width="170" height="120")
   .menu__header
      a.menu__close(href="#")
         span.visually-hidden Close menu
         svg.svg-icon
            use(href="images/sprites/main.stack.svg#svg-close")
      form.menu__search(action="#")
         input.menu__search-field(type="text" placeholder="Search song, artist and lables")
         button.menu__search-micro
            svg.svg-icon
               use(href="images/sprites/main.stack.svg#svg-microphone")
   .menu__top
      ul.menu__list
         li.menu__item.menu__item-main__sub
            .menu__box.menu__box-1
               a.menu__link.menu__link-genres(href="#") 
                  svg.svg-icon
                     use(href="images/sprites/main.stack.svg#svg-music")
                  span.menu__link-text Music genres
               button.menu__link-arrow.menu__link-arrow--main
                  svg
                     use(href="images/sprites/main.stack.svg#svg-down")
            ul.menu__submenu
               li.menu__submenu-item
                  .menu__box
                     a.menu__link(href="#")
                        span.menu__link-text House
                     button.menu__link-arrow
                        svg
                           use(href="images/sprites/main.stack.svg#svg-down")
               li.menu__submenu-item
                  .menu__box
                     a.menu__link(href="#")
                        span.menu__link-text Techno
                     button.menu__link-arrow
                        svg
                           use(href="images/sprites/main.stack.svg#svg-down")
                  ul.menu__submenu.menu__submenu-item__submenu
                     li.menu__submenu-item
                        a.menu__link(href="#") Top 100 techno
                     li.menu__submenu-item
                        a.menu__link(href="#") Classic Techno
                     li.menu__submenu-item
                        a.menu__link(href="#") Deep / Melodic Techno
                     li.menu__submenu-item
                        a.menu__link(href="#") Minimal Techno
                     li.menu__submenu-item
                        a.menu__link(href="#") Dub Techno
                     li.menu__submenu-item
                        a.menu__link(href="#") Hardcore / Happy Hardcore
                     li.menu__submenu-item
                        a.menu__link(href="#") Hard Techno / Acid Techno
                     li.menu__submenu-item
                        a.menu__link(href="#") Tribal Techno
               li.menu__submenu-item
                  .menu__box
                     a.menu__link(href="#")
                        span.menu__link-text Hip-hop
                     button.menu__link-arrow
                        svg
                           use(href="images/sprites/main.stack.svg#svg-down")
               li.menu__submenu-item
                  .menu__box
                     a.menu__link(href="#")
                        span.menu__link-text Trance
                     button.menu__link-arrow
                        svg
                           use(href="images/sprites/main.stack.svg#svg-down")
               li.menu__submenu-item
                  .menu__box
                     a.menu__link(href="#")
                        span.menu__link-text Drum and bass
                     button.menu__link-arrow
                        svg
                           use(href="images/sprites/main.stack.svg#svg-down")
               li.menu__submenu-item
                  .menu__box
                     a.menu__link(href="#")
                        span.menu__link-text Dubstep
                     button.menu__link-arrow
                        svg
                           use(href="images/sprites/main.stack.svg#svg-down")
               li.menu__submenu-item
                  .menu__box
                     a.menu__link(href="#")
                        span.menu__link-text Breaks
                     button.menu__link-arrow
                        svg
                           use(href="images/sprites/main.stack.svg#svg-down")
               li.menu__submenu-item
                  .menu__box
                     a.menu__link(href="#")
                        span.menu__link-text Chill
                     button.menu__link-arrow
                        svg
                           use(href="images/sprites/main.stack.svg#svg-down")
               li.menu__submenu-item
                  .menu__box
                     a.menu__link(href="#")
                        span.menu__link-text More genres
                     button.menu__link-arrow
                        svg
                           use(href="images/sprites/main.stack.svg#svg-down")
         li.menu__item
            .menu__box-1
               a.menu__link(href="#")
                  svg.svg-icon
                     use(href="images/sprites/main.stack.svg#svg-top")
                  span.menu__link-text TOP 100
         li.menu__item
            .menu__box-1
               a.menu__link(href="#")
                  svg.svg-icon
                     use(href="images/sprites/main.stack.svg#svg-chart")
                  span.menu__link-text Charts
         li.menu__item
            .menu__box-1
               a.menu__link(href="#")
                  svg.svg-icon
                     use(href="images/sprites/main.stack.svg#svg-stream")
                  span.menu__link-text Streams
   .menu__bottom
      ul.menu__list
         li.menu__item
            a.menu__link(href="#")
               svg.svg-icon
                  use(href="images/sprites/main.stack.svg#svg-trend")
               span.menu__link-text Trends
         li.menu__item
            a.menu__link(href="#")
               svg.svg-icon
                  use(href="images/sprites/main.stack.svg#svg-video")
               span.menu__link-text Video
         li.menu__item
            a.menu__link(href="#")
               svg.svg-icon
                  use(href="images/sprites/main.stack.svg#svg-people")
               span.menu__link-text Users
         li.menu__item
            a.menu__link(href="#")
               svg.svg-icon
                  use(href="images/sprites/main.stack.svg#svg-news")
               span.menu__link-text News
         li.menu__item
            a.menu__link(href="#")
               svg.svg-icon
                  use(href="images/sprites/main.stack.svg#svg-routing")
               span.menu__link-text Genres map
         li.menu__item
            a.menu__link(href="#")
               svg.svg-icon
                  use(href="images/sprites/main.stack.svg#svg-info")
               span.menu__link-text Information
   .footer
      .footer__inner.container
         .footer__menu
            .footer__menu-col
               h2.footer__menu-title Support
               ul.footer__menu-list
                  li
                     a(href="#") Support
                  li
                     a(href="#") Privacy Policy
                  li
                     a(href="#") User agreement
                  li
                     a(href="#") DMCA
                  li
                     a(href="#") Payment Subscription
                  li
                     a(href="#") MixUpload
            .footer__menu-col
               h2.footer__menu-title Work with us
               ul.footer__menu-list
                  li
                     a(href="#") Plans & Pricing
                  li
                     a(href="#") Upload a track
                  li
                     a(href="#") Monetize my music
                  li
                     a(href="#") Distribution service
                  li
                     a(href="#") Music promotion
         ul.footer__stats
            li
               p.footer__stats-num $158,970
               p.footer__stats-title Royalties paid
            li
               p.footer__stats-num 2,695,891
               p.footer__stats-title Tracks available
            li
               p.footer__stats-num 651,552
               p.footer__stats-title Users
         ul.footer__app
            li
               a(href="#")
                  img(src="images/icons/appstore.svg", alt="appstore" width="140" height="41")
            li
               a(href="#")
                  img(src="images/icons/appgallery.svg", alt="appgallery" width="140" height="41")
            li
               a(href="#")
                  img(src="images/icons/googleplay.svg", alt="googleplay" width="140" height="41")
      
   
